In [48]:
import pandas as pd
import re

In [45]:
base = pd.read_csv('../API/MoviesPopular.csv')
print(base.columns)

Index(['Unnamed: 0', 'adult', 'backdrop_path', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [46]:
base = base.drop(['Unnamed: 0','backdrop_path','homepage', 'poster_path', 'video', 'status'], axis=1)

In [38]:
base

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,False,NaN,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,"[{'id': 89171, 'logo_path': '/c3ttVfx0itQzk2vO...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-05,8000000.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Retirement didn't suit him.,Freelance,6.419,192.0
1,False,NaN,200000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,"[{'id': 194232, 'logo_path': '/oE7H93u8sy5vvW5...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-18,155500000.0,206.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Greed is an animal that hungers for blood.,Killers of the Flower Moon,7.711,1258.0
2,False,"{'id': 489724, 'name': 'The Trolls Collection'...",95000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-12,173800000.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",There are some new trolls on the block.,Trolls Band Together,7.204,324.0
3,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,"[{'id': 878, 'logo_path': '/e2AZdsQdkhN0qJhoN4...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...",2023-11-17,0.0,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Breaking out this November.,Leo,7.560,497.0
4,False,NaN,125000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2023-12-06,43200000.0,117.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Every good thing in this world started with a ...,Wonka,7.000,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,"{'id': 124901, 'name': 'Hatchet Collection', '...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,"[{'id': 3960, 'logo_path': None, 'name': 'Arie...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-09-12,0.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Return to his Swamp,Victor Crowley,5.700,235.0
9997,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,"[{'id': 102118, 'logo_path': None, 'name': 'Sc...","[{'iso_3166_1': 'US', 'name': 'United States o...",2020-08-14,0.0,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",What would you risk for five minutes of pure p...,Project Power,6.474,2666.0
9998,False,"{'id': 8917, 'name': 'Hellraiser Collection', ...",4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...","[{'iso_3166_1': 'RO', 'name': 'Romania'}, {'is...",2005-06-07,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",The Latest. Most Terrifying Evil.,Hellraiser: Deader,4.600,292.0
9999,False,NaN,45000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,"[{'id': 89719, 'logo_path': None, 'name': 'Cul...","[{'iso_3166_1': 'US', 'name': 'United States o...",2004-12-25,48600000.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Hey! Hey! Hey!,Fat Albert,5.100,242.0
10000,False,NaN,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,"[{'id': 3266, 'logo_path': None, 'name': 'Otto...","[{'iso_3166_1': 'US', 'name': 'United States o...",1955-12-26,4350000.0,119.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",An 'untouchable' theme…an unusual motion picture!,The Man with the Golden Arm,7.200,200.0

In [47]:
type(base['belongs_to_collection'])

pandas.core.series.Series

In [50]:
def extract_name(x):
    if pd.notna(x) and isinstance(x, str):
        match = re.search("'name':\s*'([^']+)'", str(x))
        return match.group(1) if match else None
    else:
        return None

base['collection_name'] = base['belongs_to_collection'].apply(extract_name)

In [53]:
base = base.drop(['belongs_to_collection'], axis=1)
base

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,collection_name
0,False,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,"[{'id': 89171, 'logo_path': '/c3ttVfx0itQzk2vO...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-05,8000000.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Retirement didn't suit him.,Freelance,6.419,192.0,None
1,False,200000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,"[{'id': 194232, 'logo_path': '/oE7H93u8sy5vvW5...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-18,155500000.0,206.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Greed is an animal that hungers for blood.,Killers of the Flower Moon,7.711,1258.0,None
2,False,95000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-12,173800000.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",There are some new trolls on the block.,Trolls Band Together,7.204,324.0,The Trolls Collection
3,False,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,"[{'id': 878, 'logo_path': '/e2AZdsQdkhN0qJhoN4...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...",2023-11-17,0.0,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Breaking out this November.,Leo,7.560,497.0,None
4,False,125000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2023-12-06,43200000.0,117.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Every good thing in this world started with a ...,Wonka,7.000,62.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,"[{'id': 3960, 'logo_path': None, 'name': 'Arie...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-09-12,0.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Return to his Swamp,Victor Crowley,5.700,235.0,Hatchet Collection
9997,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,"[{'id': 102118, 'logo_path': None, 'name': 'Sc...","[{'iso_3166_1': 'US', 'name': 'United States o...",2020-08-14,0.0,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",What would you risk for five minutes of pure p...,Project Power,6.474,2666.0,None
9998,False,4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...","[{'iso_3166_1': 'RO', 'name': 'Romania'}, {'is...",2005-06-07,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",The Latest. Most Terrifying Evil.,Hellraiser: Deader,4.600,292.0,Hellraiser Collection
9999,False,45000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,"[{'id': 89719, 'logo_path': None, 'name': 'Cul...","[{'iso_3166_1': 'US', 'name': 'United States o...",2004-12-25,48600000.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Hey! Hey! Hey!,Fat Albert,5.100,242.0,None
10000,False,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,"[{'id': 3266, 'logo_path': None, 'name': 'Otto...","[{'iso_3166_1': 'US', 'name': 'United States o...",1955-12-26,4350000.0,119.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",An 'untouchable' theme…an unusual motion picture!,The Man with the Golden Arm,7.200,200.0,None

In [55]:
def extract_genres(x):
    try:
        return [re.search("'name':\s*'([^']+)'", match.group()).group(1) for match in re.finditer("{.*?'name':\s*'([^']+)'", str(x))]
    except (AttributeError, TypeError):
        return None

base['genres_list'] = base['genres'].apply(extract_genres)

In [58]:
base['countries_prod'] = base['production_countries'].apply(extract_genres)
base

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,collection_name,genres_list,countries_prod
0,False,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,"[{'id': 89171, 'logo_path': '/c3ttVfx0itQzk2vO...",...,8000000.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Retirement didn't suit him.,Freelance,6.419,192.0,None,"[Action, Comedy]",[United States of America]
1,False,200000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,"[{'id': 194232, 'logo_path': '/oE7H93u8sy5vvW5...",...,155500000.0,206.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Greed is an animal that hungers for blood.,Killers of the Flower Moon,7.711,1258.0,None,"[Crime, Drama, History]",[United States of America]
2,False,95000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...",...,173800000.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",There are some new trolls on the block.,Trolls Band Together,7.204,324.0,The Trolls Collection,"[Animation, Family, Music, Fantasy, Comedy]",[United States of America]
3,False,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,"[{'id': 878, 'logo_path': '/e2AZdsQdkhN0qJhoN4...",...,0.0,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Breaking out this November.,Leo,7.560,497.0,None,"[Animation, Comedy, Family]","[Australia, United States of America]"
4,False,125000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...",...,43200000.0,117.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Every good thing in this world started with a ...,Wonka,7.000,62.0,None,"[Comedy, Family, Fantasy]","[United Kingdom, United States of America]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,"[{'id': 3960, 'logo_path': None, 'name': 'Arie...",...,0.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Return to his Swamp,Victor Crowley,5.700,235.0,Hatchet Collection,"[Comedy, Horror]",[United States of America]
9997,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,"[{'id': 102118, 'logo_path': None, 'name': 'Sc...",...,0.0,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",What would you risk for five minutes of pure p...,Project Power,6.474,2666.0,None,"[Action, Crime, Science Fiction]",[United States of America]
9998,False,4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...",...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",The Latest. Most Terrifying Evil.,Hellraiser: Deader,4.600,292.0,Hellraiser Collection,"[Horror, Mystery, Thriller]","[Romania, United States of America]"
9999,False,45000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,"[{'id': 89719, 'logo_path': None, 'name': 'Cul...",...,48600000.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Hey! Hey! Hey!,Fat Albert,5.100,242.0,None,"[Comedy, Family, Fantasy]",[United States of America]
10000,False,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,"[{'id': 3266, 'logo_path': None, 'name': 'Otto...",...,4350000.0,119.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",An 'untouchable' theme…an unusual motion picture!,The Man with the Golden Arm,7.200,200.0,None,"[Drama, Crime]",[United States of America]

In [59]:
def extract_languages(x):
    try:
        return [re.search("'english_name':\s*'([^']+)'", match.group()).group(1) for match in re.finditer("{.*?'english_name':\s*'([^']+)'", str(x))]
    except (AttributeError, TypeError):
        return None

base['languages_list'] = base['spoken_languages'].apply(extract_languages)
base

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,tagline,title,vote_average,vote_count,collection_name,genres_list,countries_prod,languages_list
0,False,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,"[{'id': 89171, 'logo_path': '/c3ttVfx0itQzk2vO...",...,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Retirement didn't suit him.,Freelance,6.419,192.0,None,"[Action, Comedy]",[United States of America],"[English, Spanish]"
1,False,200000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,"[{'id': 194232, 'logo_path': '/oE7H93u8sy5vvW5...",...,206.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Greed is an animal that hungers for blood.,Killers of the Flower Moon,7.711,1258.0,None,"[Crime, Drama, History]",[United States of America],"[English, French, Latin]"
2,False,95000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...",...,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",There are some new trolls on the block.,Trolls Band Together,7.204,324.0,The Trolls Collection,"[Animation, Family, Music, Fantasy, Comedy]",[United States of America],"[English, Lithuanian]"
3,False,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,"[{'id': 878, 'logo_path': '/e2AZdsQdkhN0qJhoN4...",...,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Breaking out this November.,Leo,7.560,497.0,None,"[Animation, Comedy, Family]","[Australia, United States of America]",[English]
4,False,125000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...",...,117.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Every good thing in this world started with a ...,Wonka,7.000,62.0,None,"[Comedy, Family, Fantasy]","[United Kingdom, United States of America]",[English]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,"[{'id': 3960, 'logo_path': None, 'name': 'Arie...",...,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Return to his Swamp,Victor Crowley,5.700,235.0,Hatchet Collection,"[Comedy, Horror]",[United States of America],[English]
9997,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,"[{'id': 102118, 'logo_path': None, 'name': 'Sc...",...,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",What would you risk for five minutes of pure p...,Project Power,6.474,2666.0,None,"[Action, Crime, Science Fiction]",[United States of America],"[English, Hindi, Portuguese]"
9998,False,4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...",...,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",The Latest. Most Terrifying Evil.,Hellraiser: Deader,4.600,292.0,Hellraiser Collection,"[Horror, Mystery, Thriller]","[Romania, United States of America]",[English]
9999,False,45000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,"[{'id': 89719, 'logo_path': None, 'name': 'Cul...",...,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Hey! Hey! Hey!,Fat Albert,5.100,242.0,None,"[Comedy, Family, Fantasy]",[United States of America],[English]
10000,False,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,"[{'id': 3266, 'logo_path': None, 'name': 'Otto...",...,119.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",An 'untouchable' theme…an unusual motion picture!,The Man with the Golden Arm,7.200,200.0,None,"[Drama, Crime]",[United States of America],[English]

In [61]:
def extract_production_companies(x):
    try:
        return [(match.group('name'), match.group('origin_country')) for match in re.finditer(r"'name':\s*'(?P<name>[^']+).*?'origin_country':\s*'(?P<origin_country>[^']+)'", str(x))]
    except (AttributeError, TypeError):
        return None

base['prod_companies'] = base['production_companies'].apply(extract_production_companies)
base

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,tagline,title,vote_average,vote_count,collection_name,genres_list,countries_prod,languages_list,prod_companies
0,False,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,"[{'id': 89171, 'logo_path': '/c3ttVfx0itQzk2vO...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Retirement didn't suit him.,Freelance,6.419,192.0,None,"[Action, Comedy]",[United States of America],"[English, Spanish]","[(Endurance Media, US), (AGC Studios, US), (Se..."
1,False,200000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,"[{'id': 194232, 'logo_path': '/oE7H93u8sy5vvW5...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Greed is an animal that hungers for blood.,Killers of the Flower Moon,7.711,1258.0,None,"[Crime, Drama, History]",[United States of America],"[English, French, Latin]","[(Apple Studios, US), (Imperative Entertainmen..."
2,False,95000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",There are some new trolls on the block.,Trolls Band Together,7.204,324.0,The Trolls Collection,"[Animation, Family, Music, Fantasy, Comedy]",[United States of America],"[English, Lithuanian]","[(DreamWorks Animation, US)]"
3,False,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,"[{'id': 878, 'logo_path': '/e2AZdsQdkhN0qJhoN4...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Breaking out this November.,Leo,7.560,497.0,None,"[Animation, Comedy, Family]","[Australia, United States of America]",[English],"[(Happy Madison Productions, US), (Animal Logi..."
4,False,125000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Every good thing in this world started with a ...,Wonka,7.000,62.0,None,"[Comedy, Family, Fantasy]","[United Kingdom, United States of America]",[English],"[(Warner Bros. Pictures, US), (Village Roadsho..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,"[{'id': 3960, 'logo_path': None, 'name': 'Arie...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Return to his Swamp,Victor Crowley,5.700,235.0,Hatchet Collection,"[Comedy, Horror]",[United States of America],[English],"[(ArieScope Pictures, US)]"
9997,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,"[{'id': 102118, 'logo_path': None, 'name': 'Sc...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",What would you risk for five minutes of pure p...,Project Power,6.474,2666.0,None,"[Action, Crime, Science Fiction]",[United States of America],"[English, Hindi, Portuguese]","[(Screen Arcade, US), (Supermarché, US)]"
9998,False,4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",The Latest. Most Terrifying Evil.,Hellraiser: Deader,4.600,292.0,Hellraiser Collection,"[Horror, Mystery, Thriller]","[Romania, United States of America]",[English],"[(Dimension Films, US), (Stan Winston Producti..."
9999,False,45000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,"[{'id': 89719, 'logo_path': None, 'name': 'Cul...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Hey! Hey! Hey!,Fat Albert,5.100,242.0,None,"[Comedy, Family, Fantasy]",[United States of America],[English],"[(Culver Studios, US), (20th Century Fox, US)]"
10000,False,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,"[{'id': 3266, 'logo_path': None, 'name': 'Otto...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",An 'untouchable' theme…an unusual motion picture!,The Man with the Golden Arm,7.200,200.0,None,"[Drama, Crime]",[United States of America],[English],"[(Otto Preminger Films, US), (United Artists, ..."

In [62]:
base = base.drop(['genres', 'production_countries', 'production_companies', 'spoken_languages'], axis = 1)
base

,adult,budget,id,imdb_id,original_language,original_title,overview,popularity,release_date,revenue,runtime,tagline,title,vote_average,vote_count,collection_name,genres_list,countries_prod,languages_list,prod_companies
0,False,40000000,897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,2023-10-05,8000000.0,108.0,Retirement didn't suit him.,Freelance,6.419,192.0,None,"[Action, Comedy]",[United States of America],"[English, Spanish]","[(Endurance Media, US), (AGC Studios, US), (Se..."
1,False,200000000,466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,2023-10-18,155500000.0,206.0,Greed is an animal that hungers for blood.,Killers of the Flower Moon,7.711,1258.0,None,"[Crime, Drama, History]",[United States of America],"[English, French, Latin]","[(Apple Studios, US), (Imperative Entertainmen..."
2,False,95000000,901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,2023-10-12,173800000.0,92.0,There are some new trolls on the block.,Trolls Band Together,7.204,324.0,The Trolls Collection,"[Animation, Family, Music, Fantasy, Comedy]",[United States of America],"[English, Lithuanian]","[(DreamWorks Animation, US)]"
3,False,0,1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,2023-11-17,0.0,102.0,Breaking out this November.,Leo,7.560,497.0,None,"[Animation, Comedy, Family]","[Australia, United States of America]",[English],"[(Happy Madison Productions, US), (Animal Logi..."
4,False,125000000,787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,2023-12-06,43200000.0,117.0,Every good thing in this world started with a ...,Wonka,7.000,62.0,None,"[Comedy, Family, Fantasy]","[United Kingdom, United States of America]",[English],"[(Warner Bros. Pictures, US), (Village Roadsho..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,0,472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,2017-09-12,0.0,83.0,Return to his Swamp,Victor Crowley,5.700,235.0,Hatchet Collection,"[Comedy, Horror]",[United States of America],[English],"[(ArieScope Pictures, US)]"
9997,False,0,605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,2020-08-14,0.0,113.0,What would you risk for five minutes of pure p...,Project Power,6.474,2666.0,None,"[Action, Crime, Science Fiction]",[United States of America],"[English, Hindi, Portuguese]","[(Screen Arcade, US), (Supermarché, US)]"
9998,False,4000000,17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,2005-06-07,0.0,88.0,The Latest. Most Terrifying Evil.,Hellraiser: Deader,4.600,292.0,Hellraiser Collection,"[Horror, Mystery, Thriller]","[Romania, United States of America]",[English],"[(Dimension Films, US), (Stan Winston Producti..."
9999,False,45000000,15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,2004-12-25,48600000.0,93.0,Hey! Hey! Hey!,Fat Albert,5.100,242.0,None,"[Comedy, Family, Fantasy]",[United States of America],[English],"[(Culver Studios, US), (20th Century Fox, US)]"
10000,False,1000000,541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,1955-12-26,4350000.0,119.0,An 'untouchable' theme…an unusual motion picture!,The Man with the Golden Arm,7.200,200.0,None,"[Drama, Crime]",[United States of America],[English],"[(Otto Preminger Films, US), (United Artists, ..."

In [65]:
base.to_csv('Movies_Clean.csv', index = False)