# Joindre la base de API et des awards 

Dans cette partie, assez courte, nous souhaitons joindre les deux bases que nous avons netoyyées dans les étapes précedentes en une seule base finale pour avoir les noms des récompénses et leur type dans la base de données finale

In [18]:
#les imports de librairies nécessaires
import pandas as pd
import numpy as np

In [3]:
base_API = pd.read_csv('../cleaning_data/Movies.csv') 
base_awards = pd.read_csv('../cleaning_data/awards.csv')

In [5]:
print(base_API.columns)
print(base_awards.columns)

#Vérifications que l'importation s'est bien passée

Index(['adult', 'budget', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'release_date', 'revenue',
       'runtime', 'tagline', 'title', 'vote_average', 'vote_count',
       'directors', 'collection_name', 'genres_list', 'countries_prod',
       'languages_list', 'prod_companies'],
      dtype='object')
Index(['English_title', 'Year', 'Dir_or_prod', 'Studio', 'Award_mains',
       'Mains_cat', 'Award_fest', 'Fest_cat', 'Production_country'],
      dtype='object')

In [37]:
#Faisons la jointure entre les deux dataframes
base_API_m = base_API
base_award_m = base_awards

#Uniformisation de la date de sortie 
base_API_m['An'] = pd.to_datetime(base_API_m['release_date']).dt.year
base_award_m['An'] = pd.to_datetime(base_award_m['Year']).dt.year
base_API_m = base_API_m.drop_duplicates(['An', 'title'])
base_API_m['An'] = base_API_m['An'].fillna(-9999)  # Remplacez -1 par la valeur de remplacement souhaitée
base_award_m['An'] = base_award_m['An'].fillna(-9999)



base_API_m['An'] = base_API_m['An'].astype(int)
base_award_m['An'] = base_award_m['An'].astype(int)
merged_df = pd.merge(base_API_m, 
                     base_award_m[['Studio','Award_mains','Mains_cat','Award_fest','Fest_cat','Production_country']],
                     left_on=['title','An'],right_on=['English_title','An'],how='outer')

/tmp/ipykernel_1760/2018430918.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_API_m['An'] = base_API_m['An'].fillna(-9999)  # Remplacez -1 par la valeur de remplacement souhaitée
/tmp/ipykernel_1760/2018430918.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_API_m['An'] = base_API_m['An'].astype(int)

KeyError: 'English_title'

In [35]:
base_API_m

,adult,budget,id,imdb_id,original_language,original_title,overview,popularity,release_date,revenue,...,vote_average,vote_count,directors,collection_name,genres_list,countries_prod,languages_list,prod_companies,Year,An
0,False,40000000,897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,2023-10-05,8000000.0,...,6.419,192.0,['Pierre Morel'],NaN,"['Action', 'Comedy']",['United States of America'],"['English', 'Spanish']","[('Endurance Media', 'US'), ('AGC Studios', 'U...",2023.0,2023
1,False,200000000,466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,2023-10-18,155500000.0,...,7.711,1258.0,['Martin Scorsese'],NaN,"['Crime', 'Drama', 'History']",['United States of America'],"['English', 'French', 'Latin']","[('Apple Studios', 'US'), ('Imperative Enterta...",2023.0,2023
2,False,95000000,901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,2023-10-12,173800000.0,...,7.204,324.0,['Walt Dohrn'],The Trolls Collection,"['Animation', 'Family', 'Music', 'Fantasy', 'C...",['United States of America'],"['English', 'Lithuanian']","[('DreamWorks Animation', 'US')]",2023.0,2023
3,False,0,1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,2023-11-17,0.0,...,7.560,497.0,"['Robert Smigel', 'Robert Marianetti', 'David ...",NaN,"['Animation', 'Comedy', 'Family']","['Australia', 'United States of America']",['English'],"[('Happy Madison Productions', 'US'), ('Animal...",2023.0,2023
4,False,125000000,787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,2023-12-06,43200000.0,...,7.000,62.0,['Paul King'],NaN,"['Comedy', 'Family', 'Fantasy']","['United Kingdom', 'United States of America']",['English'],"[('Warner Bros. Pictures', 'US'), ('Village Ro...",2023.0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,False,0,472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,2017-09-12,0.0,...,5.700,235.0,['Adam Green'],Hatchet Collection,"['Comedy', 'Horror']",['United States of America'],['English'],"[('ArieScope Pictures', 'US')]",2017.0,2017
12013,False,0,605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,2020-08-14,0.0,...,6.474,2666.0,"['Henry Joost', 'Ariel Schulman']",NaN,"['Action', 'Crime', 'Science Fiction']",['United States of America'],"['English', 'Hindi', 'Portuguese']","[('Screen Arcade', 'US'), ('Supermarché', 'US')]",2020.0,2020
12014,False,4000000,17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,2005-06-07,0.0,...,4.600,292.0,['Rick Bota'],Hellraiser Collection,"['Horror', 'Mystery', 'Thriller']","['Romania', 'United States of America']",['English'],"[('Dimension Films', 'US'), ('Stan Winston Pro...",2005.0,2005
12015,False,45000000,15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,2004-12-25,48600000.0,...,5.100,242.0,['Joel Zwick'],NaN,"['Comedy', 'Family', 'Fantasy']",['United States of America'],['English'],"[('Culver Studios', 'US'), ('20th Century Fox'...",2004.0,2004
12016,False,1000000,541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,1955-12-26,4350000.0,...,7.200,200.0,['Otto Preminger'],NaN,"['Drama', 'Crime']",['United States of America'],['English'],"[('Otto Preminger Films', 'US'), ('United Arti...",1955.0,1955

In [12]:
base_award_m

,English_title,Year,Dir_or_prod,Studio,Award_mains,Mains_cat,Award_fest,Fest_cat,Production_country,An
0,The Racket,1927-01-01,Howard Hughes,The Caddo Company,1,Oscar - Best Film,0,NaN,NaN,1927
1,Two Arabian Knights,1927-01-01,Lewis Milestone,NaN,1,Oscar - Best Director,0,NaN,NaN,1927
2,The Circus,1927-01-01,Charlie Chaplin,NaN,1,Oscar - Best Director,0,NaN,NaN,1927
3,Sadie Thompson,1927-01-01,George Barnes,Metro-Goldwyn-Mayer,1,Oscar - Best Cinematography,0,NaN,NaN,1927
4,The Crowd,1927-01-01,King Vidor,NaN,1,Oscar - Best Director,0,NaN,NaN,1927
...,...,...,...,...,...,...,...,...,...,...
1691,The Night of the 12th,2023-01-01,"Dominik Moll, Dominik Moll",NaN,1,"César - Best Director, César - Best Film",0,NaN,NaN,2023
1692,Fallen Leaves,2023-01-01,Aki Kaurismäki,NaN,0,NaN,0,NaN,Finland,2023
1693,Poor Things,2023-01-01,Yorgos Lanthimos,NaN,0,NaN,1,Venise - Lion d'Or,"Ireland, United Kingdom, United States",2023
1694,Forever Young,2023-01-01,Valeria Bruni Tedeschi,NaN,1,César - Best Film,0,NaN,NaN,2023
1695,The Zone of Interest,2023-01-01,Jonathan Glazer,NaN,0,NaN,1,Cannes - Grand Prix,"United Kingdom, Poland",2023

In [14]:
base_award_m

,English_title,Year,Dir_or_prod,Studio,Award_mains,Mains_cat,Award_fest,Fest_cat,Production_country,An
0,The Racket,1927-01-01,Howard Hughes,The Caddo Company,1,Oscar - Best Film,0,NaN,NaN,1927
1,Two Arabian Knights,1927-01-01,Lewis Milestone,NaN,1,Oscar - Best Director,0,NaN,NaN,1927
2,The Circus,1927-01-01,Charlie Chaplin,NaN,1,Oscar - Best Director,0,NaN,NaN,1927
3,Sadie Thompson,1927-01-01,George Barnes,Metro-Goldwyn-Mayer,1,Oscar - Best Cinematography,0,NaN,NaN,1927
4,The Crowd,1927-01-01,King Vidor,NaN,1,Oscar - Best Director,0,NaN,NaN,1927
...,...,...,...,...,...,...,...,...,...,...
1691,The Night of the 12th,2023-01-01,"Dominik Moll, Dominik Moll",NaN,1,"César - Best Director, César - Best Film",0,NaN,NaN,2023
1692,Fallen Leaves,2023-01-01,Aki Kaurismäki,NaN,0,NaN,0,NaN,Finland,2023
1693,Poor Things,2023-01-01,Yorgos Lanthimos,NaN,0,NaN,1,Venise - Lion d'Or,"Ireland, United Kingdom, United States",2023
1694,Forever Young,2023-01-01,Valeria Bruni Tedeschi,NaN,1,César - Best Film,0,NaN,NaN,2023
1695,The Zone of Interest,2023-01-01,Jonathan Glazer,NaN,0,NaN,1,Cannes - Grand Prix,"United Kingdom, Poland",2023

In [39]:
print(base_API_m['title'].dtypes)
print(base_award_m['English_title'].dtypes)

object
object

In [24]:
print("Doublons dans base_API_m :", base_API_m.duplicated(['An', 'title']).any())
print("Doublons dans base_award_m :", base_award_m.duplicated(['An', 'English_title']).any())

Doublons dans base_API_m : True
Doublons dans base_award_m : False

In [45]:
# Effectuer la jointure
merged_df = base_API_m.merge(base_award_m[['English_title', 'An']], left_on=['title', 'An'], right_on=['English_title', 'An'], how='left')

# Sélectionner les enregistrements qui ne se joignent pas correctement
non_matching_records = merged_df[merged_df['English_title'].isna()]

# Afficher les colonnes souhaitées
non_matching_records[['title', 'An', 'English_title']]

                            title    An English_title
0                       Freelance  2023           NaN
1      Killers of the Flower Moon  2023           NaN
2            Trolls Band Together  2023           NaN
3                             Leo  2023           NaN
4                           Wonka  2023           NaN
...                           ...   ...           ...
9010               Victor Crowley  2017           NaN
9011                Project Power  2020           NaN
9012           Hellraiser: Deader  2005           NaN
9013                   Fat Albert  2004           NaN
9014  The Man with the Golden Arm  1955           NaN

[8505 rows x 3 columns]

In [49]:

base_API_m[['title', 'An']].head()

                        title    An
0                   Freelance  2023
1  Killers of the Flower Moon  2023
2        Trolls Band Together  2023
3                         Leo  2023
4                       Wonka  2023

In [48]:
# Afficher un échantillon des colonnes clés dans base_award_m
base_award_m[['English_title', 'An']].head()

         English_title    An
0           The Racket  1927
1  Two Arabian Knights  1927
2           The Circus  1927
3       Sadie Thompson  1927
4            The Crowd  1927

In [50]:
# Comparaison sensible à la casse lors de la jointure
non_matching_records = base_API_m.merge(base_award_m[['English_title', 'An']], left_on=['title', 'An'], right_on=['English_title', 'An'], how='left', case_sensitive=True)

TypeError: DataFrame.merge() got an unexpected keyword argument 'case_sensitive'