# Joindre la base de API et des awards 

Dans cette partie, assez courte, nous souhaitons joindre les deux bases que nous avons netoyyées dans les étapes précedentes en une seule base finale pour avoir les noms des récompénses et leur type dans la base de données finale

In [76]:
#les imports de librairies nécessaires
import pandas as pd
import numpy as np 
import os

In [3]:
base_API = pd.read_csv('../cleaning_data/Movies.csv') 
base_awards = pd.read_csv('../cleaning_data/awards.csv')

In [5]:
print(base_API.columns)
print(base_awards.columns)

#Vérifications que l'importation s'est bien passée

Index(['adult', 'budget', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'release_date', 'revenue',
       'runtime', 'tagline', 'title', 'vote_average', 'vote_count',
       'directors', 'collection_name', 'genres_list', 'countries_prod',
       'languages_list', 'prod_companies'],
      dtype='object')
Index(['English_title', 'Year', 'Dir_or_prod', 'Studio', 'Award_mains',
       'Mains_cat', 'Award_fest', 'Fest_cat', 'Production_country'],
      dtype='object')

In [73]:
#Faisons la jointure entre les deux dataframes
base_API_m = base_API
base_award_m = base_awards

#Uniformisation de la date de sortie 
base_API_m['An'] = pd.to_datetime(base_API_m['release_date']).dt.year
base_award_m['An'] = pd.to_datetime(base_award_m['Year']).dt.year

base_API_m['An'] = base_API_m['An'].fillna(-9999)  # Remplacez -1 par la valeur de remplacement souhaitée
base_award_m['An'] = base_award_m['An'].fillna(-9999)

base_API_m['An'] = base_API_m['An'].astype(int)
base_award_m['An'] = base_award_m['An'].astype(int)

merged_df = pd.merge(base_API_m, 
                     base_award_m,
                     left_on=['title','An'],right_on=['English_title','An'],how='left')
merged_df = merged_df.drop(columns = ['English_title', 'Studio', 'Dir_or_prod', 'An', 'Year_y', 'Year_x', 'Production_country'])

In [74]:
merged_df

,adult,budget,id,imdb_id,original_language,original_title,overview,popularity,release_date,revenue,...,directors,collection_name,genres_list,countries_prod,languages_list,prod_companies,Award_mains,Mains_cat,Award_fest,Fest_cat
0,False,40000000,897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,2023-10-05,8000000.0,...,['Pierre Morel'],NaN,"['Action', 'Comedy']",['United States of America'],"['English', 'Spanish']","[('Endurance Media', 'US'), ('AGC Studios', 'U...",NaN,NaN,NaN,NaN
1,False,200000000,466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,2023-10-18,155500000.0,...,['Martin Scorsese'],NaN,"['Crime', 'Drama', 'History']",['United States of America'],"['English', 'French', 'Latin']","[('Apple Studios', 'US'), ('Imperative Enterta...",NaN,NaN,NaN,NaN
2,False,95000000,901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,2023-10-12,173800000.0,...,['Walt Dohrn'],The Trolls Collection,"['Animation', 'Family', 'Music', 'Fantasy', 'C...",['United States of America'],"['English', 'Lithuanian']","[('DreamWorks Animation', 'US')]",NaN,NaN,NaN,NaN
3,False,0,1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,2023-11-17,0.0,...,"['Robert Smigel', 'Robert Marianetti', 'David ...",NaN,"['Animation', 'Comedy', 'Family']","['Australia', 'United States of America']",['English'],"[('Happy Madison Productions', 'US'), ('Animal...",NaN,NaN,NaN,NaN
4,False,125000000,787699,tt6166392,en,Wonka,Willy Wonka – chock-full of ideas and determin...,1256.256,2023-12-06,43200000.0,...,['Paul King'],NaN,"['Comedy', 'Family', 'Fantasy']","['United Kingdom', 'United States of America']",['English'],"[('Warner Bros. Pictures', 'US'), ('Village Ro...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,False,0,472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,2017-09-12,0.0,...,['Adam Green'],Hatchet Collection,"['Comedy', 'Horror']",['United States of America'],['English'],"[('ArieScope Pictures', 'US')]",NaN,NaN,NaN,NaN
12013,False,0,605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,2020-08-14,0.0,...,"['Henry Joost', 'Ariel Schulman']",NaN,"['Action', 'Crime', 'Science Fiction']",['United States of America'],"['English', 'Hindi', 'Portuguese']","[('Screen Arcade', 'US'), ('Supermarché', 'US')]",NaN,NaN,NaN,NaN
12014,False,4000000,17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,2005-06-07,0.0,...,['Rick Bota'],Hellraiser Collection,"['Horror', 'Mystery', 'Thriller']","['Romania', 'United States of America']",['English'],"[('Dimension Films', 'US'), ('Stan Winston Pro...",NaN,NaN,NaN,NaN
12015,False,45000000,15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,2004-12-25,48600000.0,...,['Joel Zwick'],NaN,"['Comedy', 'Family', 'Fantasy']",['United States of America'],['English'],"[('Culver Studios', 'US'), ('20th Century Fox'...",NaN,NaN,NaN,NaN
12016,False,1000000,541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,1955-12-26,4350000.0,...,['Otto Preminger'],NaN,"['Drama', 'Crime']",['United States of America'],['English'],"[('Otto Preminger Films', 'US'), ('United Arti...",NaN,NaN,NaN,NaN

In [65]:
nombre_de_valeurs_non_nan = merged_df[''].count()
nombre_de_valeurs_non_nan 

#pour savoir combien de films sont restés dans la base.

680

In [77]:
#Exportation en csv :

current_directory = os.getcwd()

# Ajouter le nom du fichier 
file_name = 'Final_database.csv'
file_path = os.path.join(current_directory, file_name)

merged_df.to_csv(file_path, index = False)