# Récupération de données cinélatographiques grâce à l'API de TMDB

Nous avons décidé, pour notre projet, de nous intéresser au cinéma, et d'arriver vers un algorithme de recommendation. Pour cela nous avons alors besoin d'une base de données comportant un certain nombre de films ainsi que des informations les concernant comme leur genre, leur année de sortie... 

Pour récupérer celà, nous avons trouver un site The Movie DataBase (TMDB) proposant un API pour récupérer leurs données. C'est ce que nous avons fait dans cette partie là. Pour cela, nous avons récupérer une key pour accéder à l'API. Puis nous avons dans un premier temps récupéré les identifiants des films présents sur les 500 pages 'Popular' du site, puis une fois cette liste créée avec les identifiants de tous ces films, nous avons récupéré pour chacun des identifiants les informations correspondantes.

NB : Cette partie là n'est pas directement reproductible. En effet, en récupérant les 10 000 identifiants directement, et en récupérant les informations correspondantes en une seule fois, l'opération était trop longue et n'aboutissait pas. Nous avons donc opté pour la fractionner en 5 (en faisant 100 pages à chaque fois). Néanmoins, nous avons modifié le code ci dessous à chaque fois, au lieu de le recopier à chaque fois. Vous retrouverez donc en dessous le modèle que nous avons utilisé, exemplifié pour les 100 dernières pages.

In [2]:
import requests
import pandas as pd

In [15]:
url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNzBlMWEwNWQyNWRiMjQ5YjhjYWU4MzkxYmFkNGMwNCIsInN1YiI6IjY1NWRkMTI1N2YyZDRhMDEwYjk3ZmM4NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.IdjplYaSA1ipVgFDp3DhX0AjYBTly1v3T9CihJJB9U0"
}

response = requests.get(url, headers=headers)

print(response.text)

{"success":true,"status_code":1,"status_message":"Success."}

In [22]:
api_key = '070e1a05d25db249b8cae8391bad4c04'
base_url = 'https://api.themoviedb.org/3'
endpoint = '/movie/popular'

all_movie_ids = [] # On initialise une liste pour récupéré les identifiants des films


for page in range(401, 501):  # Comme précisé plus haut, nous avons directement modifié la range pour fractionner l'opération
    params = {'api_key': api_key, 'page': page}
    response = requests.get(f'{base_url}{endpoint}', params=params)

    if response.status_code == 200: # Vérifier que la requête a bien fonctionné, 
        popular_movies = response.json()['results']
        movie_ids = [movie['id'] for movie in popular_movies]
        all_movie_ids.extend(movie_ids)
    else:
        print(f'Error: {response.status_code}, {response.text}')

# On sort le nombre totale de films trouvés pour vérifier que l'opération a fonctionné
print(f'Total Movie IDs: {len(all_movie_ids)}')
print(all_movie_ids)

Total Movie IDs: 2000
[11178, 348678, 14609, 874196, 14326, 13079, 9819, 500860, 747687, 505192, 340357, 25587, 21349, 425373, 1128604, 10388, 67911, 46122, 36568, 991, 500860, 747687, 505192, 340357, 25587, 21349, 425373, 1128604, 10388, 67911, 46122, 36568, 991, 403, 882093, 97365, 4283, 1630, 37534, 1900, 12498, 110416, 525949, 9080, 135858, 434203, 13970, 41211, 575774, 121437, 691812, 401905, 455551, 199575, 533592, 738652, 829410, 19236, 318917, 73358, 73358, 10333, 1172675, 843394, 843093, 15003, 656956, 101898, 872177, 685090, 12889, 1134978, 266647, 75571, 585759, 567748, 5233, 14070, 12187, 31997, 685090, 12889, 1134978, 266647, 75571, 585759, 567748, 5233, 14070, 12187, 31997, 12699, 10683, 7006, 1105902, 359305, 1061656, 151026, 45933, 42113, 16346, 14320, 843906, 494832, 339060, 61717, 2370, 192136, 396810, 451945, 410718, 2360, 722798, 16962, 932308, 267192, 13192, 6028, 2976, 300681, 651070, 1259, 14347, 9625, 1026624, 11658, 267463, 39522, 13204, 962, 792678, 819876, 214910, 41382, 228066, 26428, 1180449, 449664, 11575, 3074, 39522, 13204, 962, 792678, 819876, 214910, 41382, 228066, 26428, 1180449, 449664, 11575, 3074, 500904, 743601, 444539, 505746, 81446, 18804, 347375, 85038, 19971, 15655, 376812, 3489, 1104771, 860852, 611605, 50724, 556574, 687, 2267, 721656, 66923, 109091, 9017, 438857, 371676, 17101, 184098, 740985, 925, 16221, 449924, 118957, 42702, 12600, 10857, 994128, 473408, 32093, 13580, 13477, 1870, 2246, 19593, 466622, 394661, 87504, 80741, 80741, 13498, 103510, 7229, 4551, 1937, 459928, 17922, 680531, 672741, 775996, 38357, 800823, 42500, 622977, 5916, 10992, 429416, 8953, 18937, 622977, 5916, 10992, 429416, 8953, 18937, 4460, 68924, 17165, 491473, 833593, 802219, 778106, 38542, 274109, 257932, 32629, 23160, 346651, 403114, 346651, 403114, 156965, 39204, 86703, 11164, 9469, 387834, 15139, 284995, 18041, 198, 1018645, 895744, 648, 30421, 26320, 18771, 10351, 422, 15263, 41848, 10268, 48266, 2981, 458594, 121791, 11839, 87499, 628917, 11894, 334543, 2153, 264419, 256395, 51333, 25748, 1066293, 35806, 9438, 35806, 9438, 874147, 41116, 273641, 10640, 711475, 590995, 41505, 27310, 13936, 21876, 24951, 11333, 11344, 411221, 170687, 25137, 10544, 2061, 532067, 13949, 44639, 9546, 975120, 38368, 367412, 18264, 529862, 14460, 11093, 23150, 347688, 749004, 43643, 318, 21449, 30973, 13908, 11363, 8289, 2620, 857862, 544431, 371560, 13122, 162092, 112304, 644831, 39005, 157424, 34843, 10905, 421928, 323676, 27414, 262543, 361472, 17903, 473149, 34843, 10905, 421928, 323676, 27414, 262543, 361472, 17903, 473149, 253451, 964426, 124067, 415749, 13499, 489430, 441183, 32790, 11703, 530382, 859041, 471474, 53168, 22825, 23742, 579047, 398174, 425194, 250388, 41582, 18220, 10389, 10246, 1193125, 718400, 216919, 9973, 439, 10481, 565028, 961, 216919, 9973, 439, 10481, 565028, 961, 24924, 24742, 575088, 372411, 157849, 11519, 514593, 4104, 625450, 5967, 47648, 601844, 422114, 51999, 428045, 124157, 24925, 334376, 27150, 11515, 994133, 371181, 124071, 14191, 52208, 6552, 6341, 51731, 8270, 722913, 14746, 7873, 24920, 18519, 7341, 44982, 430, 58857, 300302, 17606, 15598, 14282, 613093, 362057, 261820, 470114, 1124624, 40095, 9410, 20123, 25103, 372758, 551808, 335659, 439059, 38955, 327, 18837, 10890, 20986, 245913, 9314, 84200, 432836, 410117, 637534, 18616, 10393, 360249, 124470, 30431, 717980, 57123, 16268, 637534, 18616, 10393, 360249, 124470, 30431, 717980, 57123, 16268, 54013, 14807, 11468, 110148, 16328, 430231, 285423, 283227, 454293, 244478, 16355, 228108, 25934, 9367, 435161, 126277, 84575, 479837, 84105, 5066, 416148, 456154, 558915, 28340, 348060, 56743, 14635, 55931, 27586, 408866, 30197, 27586, 408866, 30197, 808023, 16048, 1450, 26149, 982752, 76180, 36136, 1879, 199534, 434714, 34482, 4281, 3685, 551332, 25853, 333932, 43821, 24271, 10922, 10910, 4203, 762951, 157843, 61202, 624620, 925263, 11577, 5424, 504056, 23478, 11167, 11471, 10847, 28902, 632, 273895, 887357, 273895, 887357, 11393, 1257, 380124, 300441, 538002, 28152, 480623, 9038, 342927, 21451, 17058, 602147, 196254, 15670, 182026, 9664, 467244, 10170, 473019, 119675, 38093, 508791, 189715, 2517, 12761, 542836, 76812, 36206, 11564, 210769, 458109, 931, 355111, 70057, 11791, 10306, 6217, 567006, 567006, 22972, 849, 38303, 9026, 480881, 417678, 137182, 1936, 64689, 171759, 22490, 91333, 972433, 36040, 5722, 636, 467, 28043, 411741, 31587, 254375, 11157, 662231, 8860, 23719, 1092, 157351, 21845, 485612, 246127, 551298, 1266, 785985, 1262, 23966, 20238, 715287, 80136, 10217, 10217, 14729, 61988, 32595, 454458, 43360, 852887, 414768, 11194, 244908, 13528, 647250, 123105, 187116, 303858, 25527, 110109, 111479, 489927, 30060, 187116, 303858, 25527, 110109, 111479, 489927, 30060, 69735, 41515, 532870, 24935, 95516, 73567, 50388, 23919, 174321, 339, 44132, 321528, 12724, 1093, 620249, 11448, 409582, 218746, 63492, 11707, 340884, 935906, 47333, 24556, 12528, 84997, 984, 273881, 19556, 440161, 878183, 503403, 34314, 58625, 13460, 1999, 8978, 25751, 30462, 338964, 39410, 15414, 51017, 18223, 13683, 9918, 9699, 28694, 18835, 7010, 29826, 10861, 567646, 479226, 38031, 46103, 31642, 29715, 23514, 179801, 340676, 483104, 33518, 140870, 19931, 97787, 172329, 473958, 443463, 17689, 301337, 268060, 16340, 473958, 443463, 17689, 301337, 268060, 16340, 9821, 278236, 9997, 363482, 801965, 18147, 430447, 265169, 246202, 672647, 229081, 41946, 19415, 90369, 725273, 581389, 459992, 347031, 103620, 85889, 31682, 16619, 843932, 12706, 8284, 759054, 5698, 16990, 14123, 5817, 230896, 18947, 38356, 913740, 8284, 759054, 5698, 16990, 14123, 5817, 230896, 18947, 38356, 913740, 763788, 2006, 11329, 401544, 1129956, 947890, 519956, 50780, 19457, 9638, 14913, 59115, 40466, 16515, 152532, 39891, 416477, 132363, 278774, 74147, 10348, 9044, 42120, 24832, 299782, 13805, 25074, 241251, 360605, 20499, 767304, 42120, 24832, 299782, 13805, 25074, 241251, 360605, 20499, 10385, 483202, 34148, 166666, 331576, 11040, 88794, 24167, 9063, 525554, 22572, 5718, 39829, 431112, 42430, 5470, 576743, 28665, 16538, 405, 210047, 16314, 590, 24662, 723347, 366668, 37451, 48466, 457, 518158, 26451, 359412, 37698, 283317, 35115, 694919, 81684, 10464, 467824, 18612, 16172, 9310, 823754, 426618, 11375, 18172, 1134866, 201749, 21784, 756403, 632322, 820511, 49982, 721625, 33357, 623958, 9652, 14968, 9455, 255466, 234004, 13967, 407445, 10655, 1832, 309425, 10153, 31165, 11209, 372921, 17264, 13967, 407445, 10655, 1832, 309425, 10153, 31165, 11209, 372921, 17264, 1810, 508664, 13105, 31589, 16866, 13363, 1009921, 173541, 18543, 5143, 3126, 174772, 11830, 68734, 685274, 8842, 757860, 286565, 418580, 11210, 7735, 26011, 542, 1143112, 23805, 3022, 452773, 16820, 828613, 4507, 26011, 542, 1143112, 23805, 3022, 452773, 16820, 828613, 4507, 9267, 13194, 12501, 12186, 633604, 18500, 49397, 10349, 469721, 21250, 1420, 192712, 497370, 26300, 26189, 23051, 467909, 40069, 13981, 13396, 587870, 34469, 168098, 9385, 50373, 5165, 1142710, 18764, 4199, 219250, 11215, 17317, 397422, 21334, 1003813, 16440, 15859, 32047, 9388, 503718, 308084, 10949, 26932, 10866, 790867, 14362, 12504, 40490, 32430, 1430, 330070, 32047, 9388, 503718, 10949, 26932, 10866, 790867, 14362, 12504, 40490, 32430, 1430, 330070, 38567, 379291, 14846, 35144, 401847, 362045, 19877, 61080, 26809, 14249, 452030, 10276, 188813, 377690, 11870, 532, 98613, 13973, 27932, 301608, 9729, 35022, 12094, 209406, 6471, 25053, 516846, 10102, 571625, 9613, 386855, 141102, 74998, 30931, 26280, 472454, 245538, 13092, 9450, 329243, 2088, 585534, 25338, 777, 200112, 31962, 9079, 9079, 787723, 10986, 534039, 521007, 488623, 34479, 740441, 46175, 680041, 11535, 1022929, 21035, 62837, 32068, 513347, 570480, 455, 286387, 8691, 11258, 16121, 410685, 27190, 19042, 14140, 65584, 347754, 10395, 1116585, 35688, 8850, 1675, 13691, 19140, 1781, 936621, 260351, 26352, 4641, 11661, 1677, 7291, 4710, 983105, 676705, 605829, 573730, 555974, 10345, 9834, 519176, 585244, 614587, 25673, 2662, 23916, 982, 20618, 16248, 415010, 23102, 606, 11510, 878401, 3101, 539649, 11837, 11229, 531158, 42888, 31473, 21705, 2757, 219, 9031, 18113, 36731, 35861, 34081, 34081, 742396, 29812, 33680, 15602, 354110, 28415, 12649, 9434, 937013, 28345, 885110, 823766, 369196, 9445, 1211354, 949580, 890825, 38606, 26914, 678, 341736, 31586, 5889, 82684, 41387, 13020, 621744, 411019, 29426, 581032, 8849, 4916, 78080, 928381, 12584, 704, 3547, 24657, 28430, 621744, 411019, 29426, 581032, 8849, 4916, 78080, 928381, 12584, 704, 3547, 24657, 28430, 1012404, 6967, 900, 79316, 26881, 43752, 3160, 22440, 579741, 41245, 21641, 1819, 40751, 340315, 586461, 869250, 27769, 36094, 54518, 10916, 32111, 8494, 175774, 657561, 300706, 23705, 3513, 550079, 2313, 504982, 27793, 676841, 484437, 1026961, 113947, 414770, 281405, 12109, 10488, 34560, 8333, 11663, 597094, 596302, 28762, 137607, 13823, 281405, 12109, 10488, 50542, 34560, 8333, 620924, 11663, 597094, 596302, 28762, 137607, 13823, 11060, 36786, 10534, 54164, 26877, 3480, 340, 46828, 44247, 28574, 286668, 36536, 84194, 9270, 22949, 8870, 418956, 43128, 2687, 485774, 11044, 192134, 15860, 72912, 22660, 3549, 77617, 859860, 310593, 236735, 38191, 724089, 80219, 11558, 13153, 31696, 1034662, 11507, 1010820, 70575, 13258, 976912, 21450, 10227, 13511, 99, 11184, 1034662, 11507, 1010820, 70575, 13258, 976912, 21450, 10227, 13511, 99, 11184, 233063, 68555, 18480, 15080, 391698, 228088, 46500, 124169, 4025, 124169, 4025, 517839, 304372, 10498, 27583, 8926, 10179, 27214, 8952, 106262, 17281, 14423, 23383, 22527, 429300, 502259, 241004, 7985, 332794, 474354, 1082657, 42000, 413337, 46304, 1175343, 243938, 604837, 24086, 18935, 11446, 1023, 856156, 28118, 33020, 16153, 452068, 31671, 174751, 124461, 31671, 174751, 124461, 11617, 531438, 3536, 16436, 429467, 193722, 38695, 228257, 523139, 112949, 19274, 11091, 39434, 451184, 1694, 444397, 49844, 65599, 2779, 250658, 265177, 48415, 8266, 29030, 638597, 10372, 1835, 10593, 724989, 431261, 10440, 24965, 236399, 666, 714964, 631143, 571346, 736074, 26268, 19114, 7012, 61934, 38939, 6521, 244562, 10873, 4972, 645689, 10424, 9583, 512901, 1199454, 19621, 112454, 377264, 474979, 160939, 115782, 696, 890601, 235984, 11223, 22345, 9058, 975714, 76122, 120475, 11016, 43931, 24153, 4946, 16690, 503619, 18987, 12312, 11219, 734265, 24153, 4946, 16690, 503619, 18987, 12312, 11219, 734265, 325078, 250066, 106909, 437517, 447249, 1204579, 360603, 53712, 9660, 9536, 19124, 18872, 19124, 18872, 10733, 1132189, 45094, 215180, 267, 615643, 35712, 16315, 1022153, 347033, 1165500, 26538, 476292, 347096, 41180, 353576, 157847, 230179, 230179, 1044648, 27064, 430155, 36996, 547016, 573699, 15077, 1015963, 40713, 460321, 406668, 13536, 404791, 5780, 1146225, 424600, 10074, 13455, 12105, 10818, 24739, 134597, 84281, 698818, 1012837, 542196, 4475, 27475, 12289, 961718, 505707, 436391, 226857, 1162, 33061, 10806, 766105, 472983, 111190, 20391, 664236, 50022, 40739, 424656, 226675, 10635, 49214, 43002, 13573, 73478, 968868, 963765, 248705, 38199, 10116, 11909, 326423, 22826, 48773, 836261, 829920, 553646, 65055, 27585, 382512, 37527, 225577, 22733, 266, 199928, 9929, 23410, 526019, 431185, 408620, 43388, 5179, 5125, 396194, 199928, 9929, 23410, 526019, 431185, 408620, 43388, 5179, 5125, 396194, 336890, 29380, 254188, 20556, 14590, 67900, 656690, 78013, 11590, 8193, 1030613, 37606, 9672, 262841, 16161, 407559, 472838, 532327, 6963, 59145, 429476, 376426, 523773, 1108658, 77459, 399897, 123103, 11163, 36179, 7548, 271954, 9684, 955644, 593680, 486131, 11623, 544345, 767825, 567797, 577242, 207270, 9623, 288171, 522406, 199420, 22434, 22074, 17729, 14117, 357397, 556984, 1934, 74536, 340023, 14244, 20606, 398177, 457249, 55347, 10003, 15267, 12192, 10396, 736073, 29578, 3121, 599521, 86467, 42979, 11890, 397415, 418827, 157845, 643, 432131, 397003, 22137, 9403, 572751, 432068, 60803, 36465, 749274, 361380, 4967, 546, 569547, 20294, 11416, 10337, 749274, 361380, 4967, 546, 569547, 20294, 11416, 10337, 791295, 11545, 8453, 7300, 595931, 44678, 9953, 12485, 85398, 112588, 519010, 246860, 519010, 246860, 45279, 669671, 619329, 11398, 485946, 300665, 241868, 890757, 398929, 22796, 320956, 567690, 40661, 13203, 1209985, 57361, 21564, 12268, 29805, 2767, 13190, 343674, 16562, 5896, 499088, 1649, 11632, 10982, 17057, 749618, 258893, 29723, 25528, 11495, 132601, 54065, 329829, 693467, 749618, 258893, 29723, 25528, 11495, 132601, 54065, 329829, 693467, 13614, 13682, 384345, 574321, 10109, 382581, 10952, 364051, 32250, 15120, 424121, 225728, 52010, 3077, 940, 30636, 418078, 47407, 41110, 2487, 1040330, 89307, 15802, 22829, 7091, 3073, 13937, 483, 77930, 571785, 609242, 2487, 1040330, 89307, 15802, 22829, 7091, 3073, 13937, 483, 77930, 571785, 609242, 58785, 563710, 338803, 128876, 1195473, 745611, 763148, 40092, 25196, 122044, 45378, 4917, 21168, 898, 325789, 1284, 33570, 12634, 14736, 9278, 18672, 16279, 690957, 610201, 454527, 26730, 12819, 11826, 239499, 872497, 474982, 44945, 38778, 10322, 65760, 361931, 1958, 39261, 1152738, 586954, 890215, 870724, 132344, 84175, 28550, 24795, 424488, 376865, 40814, 29617, 805327, 26015, 367735, 28090, 14741, 127493, 797394, 61052, 11889, 1052, 4952, 54113, 366171, 1641, 11366, 12484, 22765, 177888, 177888, 330483, 106164, 16236, 47634, 179144, 12606, 353610, 374464, 34388, 24827, 15060, 1429, 403348, 293310, 10617, 513857, 310121, 11064, 942922, 34388, 24827, 15060, 1429, 403348, 293310, 10617, 513857, 310121, 11064, 942922, 483980, 9095, 47951, 554972, 403510, 343795, 188538, 41089, 5725, 417161, 264656, 41201, 762469, 539617, 480614, 39468, 466, 13041, 939356, 10799, 257345, 42149, 843090, 29293, 9423, 14872, 26936, 363579, 31930, 29293, 9423, 14872, 26936, 363579, 31930, 20771, 431610, 366696, 15096, 511819, 28752, 575, 762433, 17918, 19429, 370765, 6166, 169881, 52077, 288036, 47626, 3063, 1580, 27573, 2015, 62764, 8067, 393738, 24655, 1073097, 850018, 418437, 23127, 14208, 965571, 818415, 84174, 30034, 14886, 14886, 81250, 16563, 43867, 9050, 54551, 8976, 143369, 3088, 329981, 179111, 814757, 410129, 41586, 31582, 9794, 9266, 26593, 28053, 11030, 38057, 209964, 48946, 10851, 281780, 29564, 39973, 24115, 950253, 242095, 13759, 5923, 225816, 610892, 21067, 3767, 31599, 319341, 82921, 27320, 13759, 5923, 225816, 610892, 21067, 3767, 31599, 319341, 82921, 27320, 12220, 11401, 20421, 11913, 606154, 339095, 256962, 19265, 375533, 43818, 43818, 12410, 327796, 1008779, 31175, 41671, 10364, 19325, 393519, 26531, 276510, 31943, 12582, 20756, 503346, 472338, 605116, 17455, 15045, 541]

In [24]:
api_key = '070e1a05d25db249b8cae8391bad4c04'
base_url = 'https://api.themoviedb.org/3'
movie_ids = all_movie_ids

movie_details_list = [] # On initialise une liste qui récoltera les informations de chaque film


for movie_id in movie_ids:
    endpoint = f'/movie/{movie_id}'
    params = {'api_key': api_key}
    response = requests.get(f'{base_url}{endpoint}', params=params)
    
    if response.status_code == 200:
        movie_details = response.json()
        movie_details_list.append(movie_details)
    else:
        print(f'Error: {response.status_code}, {response.text}')

# On converti en dataframe le résultat
df = pd.DataFrame(movie_details_list)

df.to_csv('basetest5.csv', index=True) # Comme précisé plus haut nous avons pour les 5 opérations changé le nom de la base, pour récupérer 5 bases que nous avons ensuite fusioné

In [6]:
# La liste des dataframe a fusionner, nous les avons fusionnées deux par deux car quand nous avons essayé de es fusionner les 5, cela provoquait une erreur, nous avons pu voir à la fin que c'était en fait la 5ème base qui posait problème
files = ["basetest2000.csv", "basetest2.csv"] #, "basetest3.csv", "basetest4.csv", "basetest5.csv"]

dfs = [] # On initialise une liste qui récoltera les DataFrames

for file in files:
    print(f"Processing file: {file}")
    df = pd.read_csv(file)
    dfs.append(df)

# On concatène les dataframes
BaseFilms = pd.concat(dfs, ignore_index=True)
print(BaseFilms)

# Afin de pouvoir les fusionner deux par deux, nous avons enregistré la base créée en .csv à chaque fois pour la refusionner avec une autre
BaseFilms.to_csv("Base1.csv", index=False)

Processing file: basetest2000.csv
Processing file: basetest2.csv
      Unnamed: 0  adult                     backdrop_path  \
0              0  False   /zIYROrkHJPYB3VTiW1L9QVgaQO.jpg
1              1  False  /1X7vow16X7CnCoexXh4H4F2yDJv.jpg
2              2  False  /45zVtZx6Tzx3RKeDziK25K9geFf.jpg
3              3  False  /9PqD3wSIjntyJDBzMNuxuKHwpUD.jpg
4              4  False  /yOm993lsJyPmBodlYjgpPwBjXP9.jpg
...          ...    ...                               ...
3995        1995  False  /bTU64xL4uToTjQZwICPZzMb4yZt.jpg
3996        1996  False  /dfNNSNVdbaFgDt4DLJf55CZsB5L.jpg
3997        1997  False   /XhI7HcW5VTLgqq9c5Tl1xpS454.jpg
3998        1998  False  /4Y66T9lELJqlpozIQlvBRKlk1aM.jpg
3999        1999  False  /baE88dSR0byNAMDBk8HENkdDbt0.jpg

                                  belongs_to_collection     budget  \
0                                                   NaN   40000000
1                                                   NaN  200000000
2     {'id': 489724, 'name': 'The Trolls Collection'...   95000000
3                                                   NaN          0
4                                                   NaN  125000000
...                                                 ...        ...
3995                                                NaN          0
3996                                                NaN   20000000
3997                                                NaN     580000
3998                                                NaN          0
3999                                                NaN          0

                                                 genres  \
0     [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
1     [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
2     [{'id': 16, 'name': 'Animation'}, {'id': 10751...
3     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
4     [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
...                                                 ...
3995  [{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...
3996  [{'id': 12, 'name': 'Adventure'}, {'id': 10751...
3997  [{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...
3998  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
3999  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...

                                         homepage       id     imdb_id  \
0                          http://freelance.movie   897087  tt15744298
1     https://www.killersoftheflowermoonmovie.com   466420   tt5537002
2                            https://www.delfi.lt   901362  tt14362112
3          https://www.netflix.com/title/81218917  1075794   tt5755238
4                      https://www.wonkamovie.com   787699   tt6166392
...                                           ...      ...         ...
3995                                          NaN   377897   tt5042436
3996     https://movies.disney.com/the-black-hole     9570   tt0078869
3997                                          NaN     8703   tt0070832
3998                                          NaN   858068  tt15168922
3999                                          NaN  1098160  tt14687418

     original_language  ... release_date    revenue  runtime  \
0                   en  ...   2023-10-05    8000000      108
1                   en  ...   2023-10-18  155500000      206
2                   en  ...   2023-10-12  173800000       92
3                   en  ...   2023-11-17          0      102
4                   en  ...   2023-12-06   43200000      117
...                ...  ...          ...        ...      ...
3995                en  ...   2016-01-15          0       75
3996                en  ...   1979-12-18   35841901       98
3997                cs  ...   1973-11-16          0       82
3998                ja  ...   2021-08-02          0       15
3999                en  ...   2023-04-21          0      100

                                       spoken_languages    status  \
0     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
...                                                 ...       ...
3995  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3996  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3997  [{'english_name': 'Czech', 'iso_639_1': 'cs', ...  Released
3998  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
3999  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                                tagline  \
0                           Retirement didn't suit him.
1            Greed is an animal that hungers for blood.
2               There are some new trolls on the block.
3                           Breaking out this November.
4     Every good thing in this world started with a ...
...                                                 ...
3995                                                NaN
3996       A journey that begins where everything ends!
3997                                                NaN
3998                                                NaN
3999                        Some families have secrets.

                                                  title  video  vote_average  \
0                                             Freelance  False         6.419
1                            Killers of the Flower Moon  False         7.711
2                                  Trolls Band Together  False         7.204
3                                                   Leo  False         7.560
4                                                 Wonka  False         7.000
...                                                 ...    ...           ...
3995                                  Barbie: Spy Squad  False         6.948
3996                                     The Black Hole  False         5.800
3997                        Three Wishes for Cinderella  False         7.579
3998  Rick and Morty: Summer Meets God (Rick Meets E...  False         4.200
3999                                           The Tank  False         5.300

     vote_count
0           192
1          1258
2           324
3           497
4            62
...         ...
3995        374
3996        432
3997        299
3998          2
3999         62

[4000 rows x 26 columns]

In [7]:
files = ["Base1.csv", "basetest3.csv"]#, "basetest4.csv", "basetest5.csv"]

dfs = []

for file in files:
    print(f"Processing file: {file}")
    df = pd.read_csv(file)
    dfs.append(df)

BaseFilms = pd.concat(dfs, ignore_index=True)
print(BaseFilms)

BaseFilms.to_csv("Base2.csv", index=False)

Processing file: Base1.csv
Processing file: basetest3.csv
      Unnamed: 0  adult                     backdrop_path  \
0              0  False   /zIYROrkHJPYB3VTiW1L9QVgaQO.jpg
1              1  False  /1X7vow16X7CnCoexXh4H4F2yDJv.jpg
2              2  False  /45zVtZx6Tzx3RKeDziK25K9geFf.jpg
3              3  False  /9PqD3wSIjntyJDBzMNuxuKHwpUD.jpg
4              4  False  /yOm993lsJyPmBodlYjgpPwBjXP9.jpg
...          ...    ...                               ...
5995        1995  False  /bzKzDqV7m8MLWN7G4oZdgIFDHxf.jpg
5996        1996  False  /ttizthyI5mRIVxHsv6p6eS0GiKi.jpg
5997        1997  False  /t0voVZuqvQ0VlM2m45rVWZO5R52.jpg
5998        1998  False  /luUZAWrsGnPBF9MzDAujMIdlZZh.jpg
5999        1999  False  /xUEYfFKPHQf0xJS7EFOOo1N9pmp.jpg

                                  belongs_to_collection     budget  \
0                                                   NaN   40000000
1                                                   NaN  200000000
2     {'id': 489724, 'name': 'The Trolls Collection'...   95000000
3                                                   NaN          0
4                                                   NaN  125000000
...                                                 ...        ...
5995                                                NaN          0
5996                                                NaN   15000000
5997                                                NaN          0
5998  {'id': 129453, 'name': 'Eating Out Collection'...          0
5999  {'id': 192174, 'name': 'Crows Collection', 'po...          0

                                                 genres  \
0     [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
1     [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
2     [{'id': 16, 'name': 'Animation'}, {'id': 10751...
3     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
4     [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
...                                                 ...
5995  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
5996  [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...
5997  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
5998  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
5999  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...

                                               homepage       id     imdb_id  \
0                                http://freelance.movie   897087  tt15744298
1           https://www.killersoftheflowermoonmovie.com   466420   tt5537002
2                                  https://www.delfi.lt   901362  tt14362112
3                https://www.netflix.com/title/81218917  1075794   tt5755238
4                            https://www.wonkamovie.com   787699   tt6166392
...                                                 ...      ...         ...
5995             https://www.netflix.com/title/81507021  1113448  tt27727074
5996                                                NaN    22309   tt0191133
5997                                                NaN   938567  tt15313532
5998  http://www.ariztical.com/filmsAZ/eating_out2.html    17028   tt0795376
5999                                                NaN    25716   tt1232831

     original_language  ... release_date    revenue  runtime  \
0                   en  ...   2023-10-05    8000000      108
1                   en  ...   2023-10-18  155500000      206
2                   en  ...   2023-10-12  173800000       92
3                   en  ...   2023-11-17          0      102
4                   en  ...   2023-12-06   43200000      117
...                ...  ...          ...        ...      ...
5995                da  ...   2023-09-14          0       95
5996                en  ...   2003-09-17   30238577      122
5997                ja  ...   2022-06-10          0       73
5998                en  ...   2006-07-13          0       79
5999                ja  ...   2009-04-11          0      133

                                       spoken_languages    status  \
0     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
...                                                 ...       ...
5995  [{'english_name': 'Danish', 'iso_639_1': 'da',...  Released
5996  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
5997  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
5998  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
5999  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                                tagline  \
0                           Retirement didn't suit him.
1            Greed is an animal that hungers for blood.
2               There are some new trolls on the block.
3                           Breaking out this November.
4     Every good thing in this world started with a ...
...                                                 ...
5995                                                NaN
5996                                                NaN
5997                                                NaN
5998                         Are You Ready For Seconds?
5999                                                NaN

                                     title  video  vote_average vote_count
0                                Freelance  False         6.419        192
1               Killers of the Flower Moon  False         7.711       1258
2                     Trolls Band Together  False         7.204        324
3                                      Leo  False         7.560        497
4                                    Wonka  False         7.000         62
...                                    ...    ...           ...        ...
5995       Ehrengard: The Art of Seduction  False         6.311         66
5996              The Fighting Temptations  False         5.700        120
5997  Teasing Master Takagi-san: The Movie  False         8.400        121
5998          Eating Out 2: Sloppy Seconds  False         6.194         80
5999                         Crows Zero II  False         7.200        197

[6000 rows x 26 columns]

In [8]:
files = ["Base2.csv", "basetest4.csv"]# "basetest5.csv"]

dfs = []

for file in files:
    print(f"Processing file: {file}")
    df = pd.read_csv(file)
    dfs.append(df)

BaseFilms = pd.concat(dfs, ignore_index=True)
print(BaseFilms)

BaseFilms.to_csv("Base3.csv", index=False)

Processing file: Base2.csv
Processing file: basetest4.csv
      Unnamed: 0  adult                     backdrop_path  \
0              0  False   /zIYROrkHJPYB3VTiW1L9QVgaQO.jpg
1              1  False  /1X7vow16X7CnCoexXh4H4F2yDJv.jpg
2              2  False  /45zVtZx6Tzx3RKeDziK25K9geFf.jpg
3              3  False  /9PqD3wSIjntyJDBzMNuxuKHwpUD.jpg
4              4  False  /yOm993lsJyPmBodlYjgpPwBjXP9.jpg
...          ...    ...                               ...
7995        1995  False   /cvybPlcv87ZqLpBi1OaartRka6.jpg
7996        1996  False  /e35lBcd1hW2ajW1wCMKl3s4IOC1.jpg
7997        1997  False  /brLBKS5vQfP1vjiupHqa3xg1XQC.jpg
7998        1998  False  /h7nrngTouejDkG1MuTVtExheyUy.jpg
7999        1999  False  /7sp5M3erDuGKVN54F52tVEgm244.jpg

                                  belongs_to_collection     budget  \
0                                                   NaN   40000000
1                                                   NaN  200000000
2     {'id': 489724, 'name': 'The Trolls Collection'...   95000000
3                                                   NaN          0
4                                                   NaN  125000000
...                                                 ...        ...
7995  {'id': 97307, 'name': 'BloodRayne Collection',...   10000000
7996                                                NaN          0
7997                                                NaN          0
7998  {'id': 115225, 'name': 'Children of the Corn C...     800000
7999  {'id': 980781, 'name': 'Medusa Collection', 'p...          0

                                                 genres  \
0     [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
1     [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
2     [{'id': 16, 'name': 'Animation'}, {'id': 10751...
3     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
4     [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
...                                                 ...
7995  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
7996                      [{'id': 18, 'name': 'Drama'}]
7997  [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...
7998  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
7999                     [{'id': 27, 'name': 'Horror'}]

                                         homepage       id     imdb_id  \
0                          http://freelance.movie   897087  tt15744298
1     https://www.killersoftheflowermoonmovie.com   466420   tt5537002
2                            https://www.delfi.lt   901362  tt14362112
3          https://www.netflix.com/title/81218917  1075794   tt5755238
4                      https://www.wonkamovie.com   787699   tt6166392
...                                           ...      ...         ...
7995                                          NaN    12685   tt1153546
7996                 http://gaga.ne.jp/umiyorimo/   374671   tt5294966
7997                                          NaN   520725   tt8335482
7998                                          NaN    10823   tt0087050
7999                                          NaN   980152  tt16911700

     original_language  ... release_date    revenue  runtime  \
0                   en  ...   2023-10-05    8000000      108
1                   en  ...   2023-10-18  155500000      206
2                   en  ...   2023-10-12  173800000       92
3                   en  ...   2023-11-17          0      102
4                   en  ...   2023-12-06   43200000      117
...                ...  ...          ...        ...      ...
7995                en  ...   2010-11-05          0       79
7996                ja  ...   2016-05-21     272132      117
7997                fr  ...   2020-02-12          0      101
7998                en  ...   1984-03-09   14568989       92
7999                en  ...   2023-02-14          0       83

                                       spoken_languages    status  \
0     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
...                                                 ...       ...
7995  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
7996  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
7997  [{'english_name': 'French', 'iso_639_1': 'fr',...  Released
7998  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
7999  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                                tagline  \
0                           Retirement didn't suit him.
1            Greed is an animal that hungers for blood.
2               There are some new trolls on the block.
3                           Breaking out this November.
4     Every good thing in this world started with a ...
...                                                 ...
7995                             Only the dead survive.
7996                                                NaN
7997                                                NaN
7998  In their world adults are not allowed... to live.
7999                                  The beast is back

                            title  video  vote_average vote_count
0                       Freelance  False         6.419        192
1      Killers of the Flower Moon  False         7.711       1258
2            Trolls Band Together  False         7.204        324
3                             Leo  False         7.560        497
4                           Wonka  False         7.000         62
...                           ...    ...           ...        ...
7995  BloodRayne: The Third Reich  False         3.900        195
7996              After the Storm  False         7.200        301
7997              The Lost Prince  False         5.721        333
7998         Children of the Corn  False         5.694        908
7999               Medusa's Venom  False         6.300         13

[8000 rows x 26 columns]

In [23]:
files = ["Base3.csv", "lastbase.csv"]

dfs = []

for file in files:
    print(f"Processing file: {file}")
    df = pd.read_csv(file, engine='python')
    dfs.append(df)

BaseFilms = pd.concat(dfs, ignore_index=True)
print(BaseFilms)

# Et nous récupérons ainsi notre base finale (ou presque) à partir de l'API
BaseFilms.to_csv("MoviesPopular.csv", index=False)

Processing file: Base3.csv
Processing file: lastbase.csv
      Unnamed: 0  adult                     backdrop_path  \
0              0  False   /zIYROrkHJPYB3VTiW1L9QVgaQO.jpg
1              1  False  /1X7vow16X7CnCoexXh4H4F2yDJv.jpg
2              2  False  /45zVtZx6Tzx3RKeDziK25K9geFf.jpg
3              3  False  /9PqD3wSIjntyJDBzMNuxuKHwpUD.jpg
4              4  False  /yOm993lsJyPmBodlYjgpPwBjXP9.jpg
...          ...    ...                               ...
9996        1995  False  /zklU4lWkUag3wZDYpHpgkVHTdmt.jpg
9997        1996  False  /qVygtf2vU15L2yKS4Ke44U4oMdD.jpg
9998        1997  False  /y66vZhDHIF6ViCutPcqDAXTAr0k.jpg
9999        1998  False  /l83rC8rJ1HjfoY4agLTVSIslo0Y.jpg
10000       1999  False  /3biBcohe172vLq243lFKreiEOwA.jpg

                                   belongs_to_collection     budget  \
0                                                    NaN   40000000
1                                                    NaN  200000000
2      {'id': 489724, 'name': 'The Trolls Collection'...   95000000
3                                                    NaN          0
4                                                    NaN  125000000
...                                                  ...        ...
9996   {'id': 124901, 'name': 'Hatchet Collection', '...          0
9997                                                 NaN          0
9998   {'id': 8917, 'name': 'Hellraiser Collection', ...    4000000
9999                                                 NaN   45000000
10000                                                NaN    1000000

                                                  genres  \
0      [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
1      [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
2      [{'id': 16, 'name': 'Animation'}, {'id': 10751...
3      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
4      [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
...                                                  ...
9996   [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
9997   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
9998   [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
9999   [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
10000  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

                                          homepage       id     imdb_id  \
0                           http://freelance.movie   897087  tt15744298
1      https://www.killersoftheflowermoonmovie.com   466420   tt5537002
2                             https://www.delfi.lt   901362  tt14362112
3           https://www.netflix.com/title/81218917  1075794   tt5755238
4                       https://www.wonkamovie.com   787699   tt6166392
...                                            ...      ...         ...
9996                                           NaN   472338   tt5534434
9997           http://www.netflix.com/projectpower   605116   tt7550000
9998                                           NaN    17455   tt0337636
9999                                           NaN    15045   tt0396592
10000                                          NaN      541   tt0048347

      original_language  ... release_date      revenue runtime  \
0                    en  ...   2023-10-05    8000000.0   108.0
1                    en  ...   2023-10-18  155500000.0   206.0
2                    en  ...   2023-10-12  173800000.0    92.0
3                    en  ...   2023-11-17          0.0   102.0
4                    en  ...   2023-12-06   43200000.0   117.0
...                 ...  ...          ...          ...     ...
9996                 en  ...   2017-09-12          0.0    83.0
9997                 en  ...   2020-08-14          0.0   113.0
9998                 en  ...   2005-06-07          0.0    88.0
9999                 en  ...   2004-12-25   48600000.0    93.0
10000                en  ...   1955-12-26    4350000.0   119.0

                                        spoken_languages    status  \
0      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
1      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
...                                                  ...       ...
9996   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
9997   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
9998   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
9999   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
10000  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                                 tagline  \
0                            Retirement didn't suit him.
1             Greed is an animal that hungers for blood.
2                There are some new trolls on the block.
3                            Breaking out this November.
4      Every good thing in this world started with a ...
...                                                  ...
9996                                 Return to his Swamp
9997   What would you risk for five minutes of pure p...
9998                   The Latest. Most Terrifying Evil.
9999                                      Hey! Hey! Hey!
10000  An 'untouchable' theme…an unusual motion picture!

                             title  video  vote_average vote_count
0                        Freelance  False         6.419      192.0
1       Killers of the Flower Moon  False         7.711     1258.0
2             Trolls Band Together  False         7.204      324.0
3                              Leo  False         7.560      497.0
4                            Wonka  False         7.000       62.0
...                            ...    ...           ...        ...
9996                Victor Crowley  False         5.700      235.0
9997                 Project Power  False         6.474     2666.0
9998            Hellraiser: Deader  False         4.600      292.0
9999                    Fat Albert  False         5.100      242.0
10000  The Man with the Golden Arm  False         7.200      200.0

[10001 rows x 26 columns]

Nous avons donc pu récupérer notre base. Toutefois, il nous manque une information importante : le, la ou les réalisateur(ice)(s) du film. Nous allons donc retourner sur l'API pour trouver cette information.

In [4]:
df = pd.read_csv('MoviesPopular.csv')
df['id']

0         897087
1         466420
2         901362
3        1075794
4         787699
          ...
9996      472338
9997      605116
9998       17455
9999       15045
10000        541
Name: id, Length: 10001, dtype: int64

In [6]:
api_key = '070e1a05d25db249b8cae8391bad4c04'
base_url = 'https://api.themoviedb.org/3'


movie_details_list = [] # On initialise une liste qui récoltera les informations de chaque film

df = pd.read_csv('MoviesPopular.csv')

for movie_id in df['id']:
    endpoint = f'/movie/{movie_id}'
    params = {'api_key': api_key}
    response = requests.get(f'{base_url}{endpoint}', params=params)
    
    if response.status_code == 200:
        movie_details = response.json()
        # Extract director information from the 'credits' section
        credits = movie_details.get('credits', {})
        directors = [crew['name'] for crew in credits.get('crew', []) if crew.get('job') == 'Director']
        
        # Add director information to the list
        movie_details_list.append({'id': movie_id, 'directors': directors})
        movie_details_list.append(movie_details)
    else:
        print(f'Error: {response.status_code}, {response.text}')

# On converti en dataframe le résultat
df_directors = pd.DataFrame(movie_details_list)

# Merge the director information with the original DataFrame
df_final = pd.merge(df, df_directors, on='id', how='left')

Error: 404, {"success":false,"status_code":34,"status_message":"The resource you requested could not be found."}

À reprendre