# Nettoyage des données scrappées sur Wikipédia et fusion en une base unique

Dans cette partie, nous procédons au nettoyage des données que nous avons scrappé sur Wikipédia (vous pouvez vous réferer au dossier wiki_scrap et le fichier fonction_scrapping pour voir la première étape). 

En effet, nous avons récupéré en plusieurs fichiers csv les données brutes de pages de Wiki qui rescencent les nominations, catégories et les victoires dans les compétitions et festivals de cinéma tels que Oscar (Academy awards), César, Festival de Cannes et Festival de Venise. 

L'objectif de cette partie sera de nettoyer ses données, et les fusionner en une seule base unique. Nous procédérons en deux étapes donc: 
1. **Nettoyage des Données de Wikipédia :**
Nous allons procéder au nettoyage, parfois difficile, des bases de données scrappées sur Wikipédia. Nous les nettoyrons une à une car elles ne sont pas construites de la meme manière sur les pages différentes. Cette étape est nécessaire pour faciliter la jointure avec la base récupérée avec l'API de TMDB. 


2. **Fusion en une seule base awards_df**

Nous avons des bonnes raisons de penser que les festivals et les récompenses dans les compétitions plus mainstream sont un bon indicateur de proximité entre les films ce qui pourriat rendre notre analyse plus riches et notre algorithme plus intéressant et peut-être plus performant. Car ces festivals et récompenses sont évalués sur les mêmes critères pour les films nominés. 


## Etape 1 - nettoyage des bases 

Pour nettoyer les bases une à une, nous allons procéder comme suit: 
* Nous convertirons toutes les dates en format date à l'aide de la fonction conv_date définie plus bas
* Nous retirerons les parties non-nécessaires telles que les références aux liens entre les crochets ([]), récupérés par erreur lors du scrapping
* Nous rendrons les colones uniformes - toutes les bases contiennent au moins la colonne English_title et year, en plus du director, producer ou cinematographer
* Certaines vont contenir le studio ou le pays de production ou le titre en version originale (langue d'origine sous Original_title
* Nous supprimerons les lignes inutiles, qui répètent, par exemple, trois fois le mot 1960s (et cela pour toutes les décennies, car ces lignes existent sur les tables de Wikipédia

In [1]:
import pandas as pd
import re
import numpy as np 
import os

In [2]:
base = pd.read_csv('../API/MoviesPopular.csv')
print(base.columns)

Index(['Unnamed: 0', 'adult', 'backdrop_path', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [3]:
#Chargement des bases scrappées sur wikipédia pour nettoyage et fusion avec la base de données récupérée sur TMDB

#Academy award for best cinematography 
ac_bc = pd.read_csv('../wiki_scrap/academy_bc.csv')
# academy award for best film 
ac_bf = pd.read_csv('../wiki_scrap/academy_bf.csv')
#Academy award for best director 
ac_bd = pd.read_csv('../wiki_scrap/academy_bd.csv')
#Cannes Grand Prix
can_gp = pd.read_csv('../wiki_scrap/cannes_gp.csv')
#Cannes Jury prize
can_jr = pd.read_csv('../wiki_scrap/cannes_jury.csv')
#Cannes Palme d'or
can_po = pd.read_csv('../wiki_scrap/palme_or.csv')
#César Best director 
ces_bd = pd.read_csv('../wiki_scrap/cesar_bd.csv')
#Cesar Best Film 
ces_bf = pd.read_csv('../wiki_scrap/cesar_bf.csv')
#Venice Lion d'or
ven_lor = pd.read_csv('../wiki_scrap/lion_or.csv')
#Venice Lion d'argent 
ven_larg = pd.read_csv('../wiki_scrap/lion_argent.csv')
#Venice Grand Jury Prix
ven_gj = pd.read_csv('../wiki_scrap/venice_gj.csv')

In [4]:
#Pour vérifier si le chargement est bien réussi 

print(ac_bc.columns)
print(ac_bd.columns) 
print(ac_bf.columns) 

print(ces_bd.columns) 
print(ces_bf.columns) 

print(can_gp.columns)
print(can_jr.columns) 
print(can_po.columns)

print(ven_lor.columns) 
print(ven_larg.columns) 
print(ven_gj.columns)

Index(['Category', 'Name', 'Superlative', 'Year', 'Notes', 'Film', 'Nominees',
       'Awards', 'Nominations', 'Recipient'],
      dtype='object')
Index(['0', 'Year', 'Director(s)', 'Film', 'Ref.', 'Wins', 'Director',
       'Nominations', 'Record', 'Age'],
      dtype='object')
Index(['Year of Film Release', 'Film', 'Film Studio',
       'Film Studio/Producer(s)', 'Producer(s)', 'Production Company',
       'Nominations', 'Wins'],
      dtype='object')
Index(['Superlative', 'Men', 'Men.1', 'Women', 'Women.1', 'Year',
       'Winner and nominees', 'English title', 'Original title',
       'Winners and nominees', 'Wins', 'Director', 'Nominations'],
      dtype='object')
Index(['Year', 'English title', 'Original title', 'Director'], dtype='object')
Index(['('Year', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('English Title', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('Original Title', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('Director(s)', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('Production Country', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       'Number of Wins', 'Directors', 'Nationality', 'Films', 'Ref(s)'],
      dtype='object')
Index(['('Year', '1940s', 'Awarded as "International Jury Prize"')',
       '('English Title', '1940s', 'Awarded as "International Jury Prize"')',
       '('Original Title', '1940s', 'Awarded as "International Jury Prize"')',
       '('Recipient', '1940s', 'Awarded as "International Jury Prize"')',
       '('Production Country', '1940s', 'Awarded as "International Jury Prize"')',
       'Number of Wins', 'Directors', 'Nationality', 'Films'],
      dtype='object')
Index(['Year', 'English Title', 'Original title', 'Director(s)',
       'Production Country', 'Ref.', 'Original Title', 'Director', 'Ref(s)',
       'Recipient', 'Profession', 'Nationality of Recipient'],
      dtype='object')
Index(['('Year', '1940s')', '('English Title', '1940s')',
       '('Original Title', '1940s')', '('Director(s)', '1940s')',
       '('Production Country', '1940s')', 'Year', 'Winner(s)'],
      dtype='object')
Index(['('Year', '1990s')', '('Director(s)', '1990s')',
       '('English Title', '1990s')', '('Original Title', '1990s')',
       'Number of Wins', 'Director', 'Nationality', 'Films', 'Year',
       'English Title', 'Original Title', 'Director(s)', 'Production Country',
       'Screenwriter'],
      dtype='object')
Index(['('Year', '1950s', 'Awarded as "Special Jury Prize"')',
       '('English Title', '1950s', 'Awarded as "Special Jury Prize"')',
       '('Original Title', '1950s', 'Awarded as "Special Jury Prize"')',
       '('Director(s)', '1950s', 'Awarded as "Special Jury Prize"')',
       '('Production Country', '1950s', 'Awarded as "Special Jury Prize"')',
       'Number of Wins', 'Directors', 'Nationality'],
      dtype='object')

In [5]:
#Création de la fonction qui convertit la colonne Year en format date 

def conv_date(df): 
    df['Year'] = df['Year'].astype(str)
    df['Year'] = df['Year'].str.extract('(\d{4})', expand=False)
    df['Year'] = pd.to_datetime(df['Year'], format='%Y', errors='coerce')
    return df

In [6]:
#Nettoyage et mise en conformité de la base de données Academy 

#Best-cinematography 

#Supprimer les 3 premières et 3 dernières colonnes et 13 premières lignes qui référent à un tableau qui ne nous intéresse pas dans notre code
ac_bc_cl = ac_bc.drop(['Category', 'Name', 'Superlative', 'Notes', 'Awards', 'Nominations', 'Recipient'], axis=1)
ac_bc_cl = ac_bc_cl.iloc[13:, :]
#conversion en type date de la colonne 'Year'
ac_bc_cl.rename(columns={'Nominees': 'Cinematographer', 'Film':'English_title'}, inplace=True)
ac_bc_cl = conv_date(ac_bc_cl)
ac_bc_cl = ac_bc_cl.dropna(subset=['English_title', 'Cinematographer'], how='all')
ac_bc_cl

,Year,English_title,Cinematographer
13,1927-01-01,Sunrise: A Song of Two Humans,Charles Rosher Karl Struss
14,1927-01-01,The Devil Dancer,George Barnes
15,1927-01-01,The Magic Flame,George Barnes
16,1927-01-01,Sadie Thompson,George Barnes
18,1928-01-01,White Shadows in the South Seas,Clyde De Vinna
...,...,...,...
782,2022-01-01,All Quiet on the Western Front,James Friend
783,2022-01-01,"Bardo, False Chronicle of a Handful of Truths",Darius Khondji
784,2022-01-01,Elvis,Mandy Walker
785,2022-01-01,Empire of Light,Roger Deakins
786,2022-01-01,Tár,Florian Hoffmeister

In [7]:
#Meilleur réalisateur - Academy 

ac_bd_cl = ac_bd.drop (['0', 'Ref.', 'Wins', 'Director', 'Nominations', 'Record', 'Age' ], axis=1)
ac_bd_cl = ac_bd_cl.iloc[:473, :]
#conversion de l'année en type date 
ac_bd_cl = conv_date(ac_bd_cl)
#renommer la colonne director
ac_bd_cl.rename(columns={'Film':'English_title','Director(s)': 'Director'}, inplace=True)
#suppression des lignes inutiles (celles qui ne contiennent que l'année sans film
ac_bd_cl = ac_bd_cl.dropna(subset=['Director', 'English_title'], how='all')

#supprimer le nom de studio dans la colonne Director
ac_bd_cl['Director'] = ac_bd_cl['Director'].str.split('(', n=1).str[0]

#reset index 
ac_bd_cl = ac_bd_cl.reset_index(drop=True)

ac_bd_cl

,Year,Director,English_title
0,1927-01-01,Frank Borzage,7th Heaven
1,1927-01-01,Herbert Brenon,Sorrell and Son
2,1927-01-01,King Vidor,The Crowd
3,1927-01-01,Lewis Milestone,Two Arabian Knights
4,1927-01-01,Ted Wilde,Speedy
...,...,...,...
467,2022-01-01,Daniel Kwan and Daniel Scheinert,Everything Everywhere All at Once
468,2022-01-01,Todd Field,Tár
469,2022-01-01,Martin McDonagh,The Banshees of Inisherin
470,2022-01-01,Ruben Östlund,Triangle of Sadness
471,2022-01-01,Steven Spielberg,The Fabelmans

In [8]:
#Academy - Best Film 
ac_bf_cl=ac_bf


ac_bf_cl.rename(columns={'Year of Film Release': 'Year'}, inplace=True)

ac_bf_cl = conv_date(ac_bf_cl)

ac_bf_cl = ac_bf_cl.dropna(subset=['Film'], how='all')
#Problème dans la base - les producteurs et les studios de film ne sont pas séparés du tout, et mélangés au sein de 3 colonnes 

# Extraction des noms de producteurs de la colonne Film Studio (les producteurs sont souvent mentionnés entre parenthèses)
ac_bf_cl['Film_producers'] = ac_bf_cl['Film Studio'].str.extract(r'\(([^)]+)\)')
#supprimer la mention producer ou producers 
ac_bf_cl['Film_producers'] = ac_bf_cl['Film_producers'].str.split(', producer', n=1).str[0]
#lier avec la colonne producers 
ac_bf_cl['Film_producers'] = ac_bf_cl['Film_producers'].combine_first(ac_bf_cl['Producer(s)'])
ac_bf_cl = ac_bf_cl.drop(['Producer(s)', 'Wins', 'Nominations', 'Production Company'], axis=1)

#suppression du nom de pans la colonne film studio
ac_bf_cl['Film Studio'] = ac_bf_cl['Film Studio'].str.split('(', n=1).str[0]

#Maintenant, séparons la colonne Film Studio/Producers 
ac_bf_cl['Film Studio/Producer(s)'] = ac_bf_cl['Film Studio/Producer(s)'].str.split('(', n=1).str[0]
#D'abord récupérons les noms de studios présents (manuellement car entrées peu nombreuses) 
studio = ['Metro-Goldwyn-Mayer', 'Columbia', '20th Century-Fox', '	Paramount']
#Recréer une colonne à base des noms de studio 
ac_bf_cl['Studio'] = ac_bf_cl['Film Studio/Producer(s)'].where(ac_bf_cl['Film Studio/Producer(s)'].isin(studio))
#La lier avec Film Studio d'origine 
ac_bf_cl['Film Studio'] = ac_bf_cl['Film Studio'].combine_first(ac_bf_cl['Studio'])
#Supprimer les entrées dans la colonne 
ac_bf_cl = ac_bf_cl [~ac_bf_cl['Film Studio/Producer(s)'].isin(studio)]
#Combiner avec la liste des producteurs 
ac_bf_cl['Film_producers'] = ac_bf_cl['Film_producers'].combine_first(ac_bf_cl['Film Studio/Producer(s)'])

#renommer les colonnes 
ac_bf_cl.rename(columns={'Film Studio': 'Film_Studio', 'Film':'English_title'}, inplace=True)
#supprimer la référence non nécessaire
ac_bf_cl['English_title'] = ac_bf_cl['English_title'].str.split('[', n=1).str[0]
ac_bf_cl = ac_bf_cl.drop(['Film Studio/Producer(s)', 'Studio'], axis=1)
ac_bf_cl = ac_bf_cl.dropna(subset=['English_title', 'Year'], how='all')

#reset index 
ac_bf_cl = ac_bf_cl.reset_index(drop=True)
ac_bf_cl

/tmp/ipykernel_87342/2902350124.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ac_bf_cl['Film_producers'] = ac_bf_cl['Film Studio'].str.extract(r'\(([^)]+)\)')
/tmp/ipykernel_87342/2902350124.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ac_bf_cl['Film_producers'] = ac_bf_cl['Film_producers'].str.split(', producer', n=1).str[0]
/tmp/ipykernel_87342/2902350124.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ac_bf_cl['Film_producers'] = ac_bf_cl['Film_producers'].combine_first(ac_bf_cl['Producer(s)'])

,Year,English_title,Film_Studio,Film_producers
0,1927-01-01,Wings,Famous Players–Lasky,"Lucien Hubbard, Jesse L. Lasky, B.P. Schulberg..."
1,1927-01-01,7th Heaven,Fox,William Fox
2,1927-01-01,The Racket,The Caddo Company,Howard Hughes
3,1928-01-01,The Broadway Melody,Metro-Goldwyn-Mayer,Irving Thalberg & Lawrence Weingarten
4,1928-01-01,Alibi,Feature Productions,Roland West
...,...,...,...,...
583,2022-01-01,The Fabelmans,NaN,"Kristie Macosko Krieger, Steven Spielberg, Ton..."
584,2022-01-01,Tár,NaN,"Todd Field, Alexandra Milchan, and Scott Lambert"
585,2022-01-01,Top Gun: Maverick,NaN,"Tom Cruise, Christopher McQuarrie, David Ellis..."
586,2022-01-01,Triangle of Sadness,NaN,Erik Hemmendorff and Philippe Bober
587,2022-01-01,Women Talking,NaN,"Dede Gardner, Jeremy Kleiner, and Frances McDo..."

In [9]:
#création d'une fonction qui permet de renommer les colonnes en une seule commande
#étant donné que les tableaux des 3 pages sur les prix à Canne susivent la même structure
def renom_cannes(df) : 
    h = df.columns
    #renommer les colonnes qui ont été mal scrappées
    df.rename(columns={h[0]: 'Year', h[1] : 'English_title' , h[2]:'Original_title', h[3]:'Director', h[4]:'Production_country' }, inplace=True)
    return df

In [10]:
#Grand Prix - Cannes

can_gp_cl = can_gp
can_gp_cl = renom_cannes(can_gp_cl)
can_gp_cl = conv_date(can_gp_cl)
#suppression lignes non voulues avec la décennie comme valeur dans chaque colonne (scrapping du tableau difficile)
decades_to_delete = [f"{decade}s" for decade in range(1960, 2030, 10)] + ['Awarded as "Grand Prix du Jury"']
can_gp_cl = can_gp_cl.loc[~can_gp_cl['English_title'].isin(decades_to_delete)]
can_gp_cl['Director'] = can_gp_cl['Director'].str.split('[', n=1).str[0]

can_gp_cl = can_gp_cl.reset_index(drop=True)
can_gp_cl= can_gp_cl.iloc[:65, :5]

can_gp_cl

/tmp/ipykernel_87342/1088625548.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  can_gp_cl['Director'] = can_gp_cl['Director'].str.split('[', n=1).str[0]

,Year,English_title,Original_title,Director,Production_country
0,1967-01-01,Accident,Accident,Joseph Losey,United Kingdom
1,1967-01-01,I Even Met Happy Gypsies,Skupljači perja,Aleksandar Petrović,Yugoslavia
2,1969-01-01,Ådalen 31,Ådalen 31,Bo Widerberg,Sweden
3,1970-01-01,Investigation of a Citizen Above Suspicion,Indagine su un cittadino al di sopra di ogni s...,Elio Petri,Italy
4,1971-01-01,Johnny Got His Gun,Johnny Got His Gun,Dalton Trumbo,United States
...,...,...,...,...,...
60,2021-01-01,Compartment No. 6,Hytti nro 6,Juho Kuosmanen,"Finland, Germany, Estonia, Russia"
61,2021-01-01,A Hero,قهرمان,Asghar Farhadi,"Iran, France"
62,2022-01-01,Close,Close,Lukas Dhont,"Belgium, Netherlands, France"
63,2022-01-01,Stars at Noon,Stars at Noon,Claire Denis,France
64,2023-01-01,The Zone of Interest,The Zone of Interest,Jonathan Glazer,"United Kingdom, Poland"

In [11]:
#Prix du Jury - Cannes

can_jr_cl = can_jr
can_jr_cl = renom_cannes(can_jr_cl)

#suppression lignes non voulues (scrapping du tableau difficile)
decades_to_delete = ["1950s"] + decades_to_delete
can_jr_cl = can_jr_cl.loc[~can_jr_cl['English_title'].isin(decades_to_delete)]
delete = ['Awarded as "Special Jury Prize"', 'Awarded as "Jury Prize"']
can_jr_cl = can_jr_cl [~can_jr_cl ['Year'].isin(delete)]

#conversion de la date et sélection des colonnes d'intérêt 
can_jr_cl = conv_date(can_jr_cl)
can_jr_cl= can_jr_cl.iloc[:81, :5]
can_jr_cl = can_jr_cl.reset_index(drop=True)

can_jr_cl

,Year,English_title,Original_title,Director,Production_country
0,1946-01-01,The Battle of the Rails,La Bataille du rail,René Clément,France
1,1951-01-01,All About Eve,All About Eve,Joseph L. Mankiewicz,United States
2,1952-01-01,We Are All Murderers,Nous sommes tous des assassins,André Cayatte,France
3,1954-01-01,Knave of Hearts,Monsieur Ripois,René Clément,France
4,1955-01-01,Lost Continent,Continente perduto,"Enrico Gras, Giorgio Moser & Leonardo Bonzi",Italy
...,...,...,...,...,...
76,2021-01-01,Ahed's Knee,הַבֶּרֶךְ,Nadav Lapid,"France, Germany, Israel"
77,2021-01-01,Memoria,Memoria,Apichatpong Weerasethakul,"Colombia, Thailand, United Kingdom, Mexico, Fr..."
78,2022-01-01,The Eight Mountains,Le otto montagne,Felix van Groeningen & Charlotte Vandermeersch,"Italy, Belgium, France"
79,2022-01-01,EO,EO,Jerzy Skolimowski,"Poland, Italy"
80,2023-01-01,Fallen Leaves,Kuolleet lehdet,Aki Kaurismäki,Finland

In [12]:
#Palme d'Or

can_po_cl = can_po 
can_po_cl = renom_cannes(can_po_cl) 
#gérer à la fois les guillemets et les apostrophes
c = 'Awarded as' + ' "Palme d' +"'" +'Or"'
supp=['Awarded as "Grand Prix"', c, 'Awarded as "Grand Prix du Festival International du Film"', 'Festival cancelled due to the COVID-19 pandemic. 56 films were announced as official selections by the festival, but no awards were presented.' ]
can_po_cl = can_po_cl [~can_po_cl ['Year'].isin(supp)]
#sélection des colonnes d'intérêt 
can_po_cl= can_po_cl.iloc[1:, :5]
can_po_cl = can_po_cl.dropna(subset=['Original_title', 'Director'], how='all')
# suppression du symbole § présent dans les cetaines entrées sur wiki 
can_po_cl['English_title'] = can_po_cl['English_title'].astype(str).apply(lambda x: x.rstrip('§'))
can_po_cl['Original_title'] = can_po_cl['Original_title'].astype(str).apply(lambda x: x.rstrip('§'))
#can_po_cl = can_po_cl[pd.notna(can_po_cl['English_title']) & ~can_po_cl['English_title'].str.endswith('§')]
can_po_cl = can_po_cl.reset_index(drop=True)


can_po_cl

,Year,English_title,Original_title,Director,Production_country
0,1946,Brief Encounter,Brief Encounter,David Lean,United Kingdom
1,1946,The Last Chance,Die Letzte Chance,Leopold Lindtberg,Switzerland
2,1946,The Lost Weekend,The Lost Weekend,Billy Wilder,United States
3,1946,María Candelaria,María Candelaria,Emilio Fernández,Mexico
4,1946,Men Without Wings,Muži bez křídel,František Čáp,Czechoslovakia
...,...,...,...,...,...
98,2019,Parasite,기생충,Bong Joon-ho,South Korea
99,2020,Festival cancelled due to the COVID-19 pandemi...,Festival cancelled due to the COVID-19 pandemi...,Festival cancelled due to the COVID-19 pandemi...,Festival cancelled due to the COVID-19 pandemi...
100,2021,Titane,Titane,Julia Ducournau,"France, Belgium"
101,2022,Triangle of Sadness,Triangle of Sadness,Ruben Östlund,Sweden
102,2023,Anatomy of a Fall,Anatomie d'une chute,Justine Triet,France

In [13]:
#César - Meilleur Réalisateur 

ces_bd_cl = ces_bd 
ces_bd_cl = ces_bd_cl.iloc[8:, 5:10]
ces_bd_cl = conv_date(ces_bd_cl)

#Combiner les deux colonnes avec les mêmes valeurs en une seule 
#certaines lignes de la première contiennent NAN où la deuxième a des valeurs

ces_bd_cl['Winners_and_nominees'] = ces_bd_cl['Winner and nominees'].combine_first(ces_bd_cl['Winners and nominees'])

# Supprimer les colonnes originales 
ces_bd_cl = ces_bd_cl.drop(['Winner and nominees', 'Winners and nominees'], axis=1)
col=ces_bd_cl.columns
ces_bd_cl.rename(columns={ col[1] : 'English_title' , col[2]:'Original_title', 'Winners_and_nominees': 'Director'}, inplace=True)
ces_bd_cl = ces_bd_cl.dropna(subset=['Original_title', 'Director'], how='all')
# Réinitialiser l'index
ces_bd_cl = ces_bd_cl.reset_index(drop=True)
ces_bd_cl

,Year,English_title,Original_title,Director
0,1976-01-01,The Old Gun,Le Vieux Fusil,Robert Enrico
1,1976-01-01,Call me Savage,Le Sauvage,Jean-Paul Rappeneau
2,1976-01-01,The Story of Adele H.,L'Histoire d'Adèle H.,François Truffaut
3,1977-01-01,Mr. Klein,Monsieur Klein,Joseph Losey
4,1977-01-01,The Best Way to Walk,La Meilleure Façon de marcher,Claude Miller
...,...,...,...,...
248,2023-01-01,The Night of the 12th,La Nuit du 12,Dominik Moll
249,2023-01-01,Rise,En corps,Cedric Klapisch
250,2023-01-01,The Innocent,L'Innocent,Louis Garrel
251,2023-01-01,November,Novembre,Cédric Jimenez
252,2023-01-01,Pacifiction,Pacifiction : Tourment sur les Îles,Albert Serra

In [14]:
ces_bf_cl = ces_bf
ces_bf_cl = conv_date(ces_bf_cl) # convertir l'année en format date
col = ces_bf_cl.columns
ces_bf_cl.rename(columns={ col[1] : 'English_title' , col[2]:'Original_title' }, inplace=True) #renommer les colonnes
ces_bf_cl = ces_bf_cl.dropna(subset=['Original_title', 'Director'], how='all') #supprimer les lignes avec NaN 

# Réinitialiser l'index
ces_bf_cl = ces_bf_cl.reset_index(drop=True)
ces_bf_cl

,Year,English_title,Original_title,Director
0,1976-01-01,The Old Gun,Le Vieux Fusil,Robert Enrico
1,1976-01-01,"Cousin, Cousine","Cousin, cousine",Jean Charles Tacchella
2,1976-01-01,Let Joy Reign Supreme,Que la fête commence,Bertrand Tavernier
3,1976-01-01,Seven Deaths by Prescription,Sept morts sur ordonnance,Jacques Rouffio
4,1977-01-01,Mr. Klein,Monsieur Klein,Joseph Losey
...,...,...,...,...
256,2023-01-01,The Night of the 12th,La Nuit du 12,Dominik Moll
257,2023-01-01,Forever Young,Les Amandiers,Valeria Bruni Tedeschi
258,2023-01-01,Rise,En corps,Cédric Klapisch
259,2023-01-01,The Innocent,L'Innocent,Louis Garrel
260,2023-01-01,Pacifiction,Pacifiction – Tourment sur les îles,Albert Serra

In [15]:
ven_lor_cl = ven_lor 
ven_lor_cl = renom_cannes(ven_lor_cl)
ven_lor_cl = ven_lor_cl.iloc[ ::, :5]

#supprimer les lignes parasites
suppr=['1946: Awarded as "Best Feature Film"', '1947–1948: Awarded as "Grand International Prize of Venice"', '1949–1953: Awarded as "Golden Lion of Saint Mark"', '1954–present: Awarded as "Golden Lion"' ] + decades_to_delete + ['1940s']
ven_lor_cl = ven_lor_cl [~ven_lor_cl ['English_title'].isin(suppr)]
#supprimer les Nan 
ven_lor_cl = ven_lor_cl.dropna(subset=['English_title'], how='all')
#supprimer les lignes où la récompense n'a pas été donnée 
ven_lor_cl = ven_lor_cl[~ven_lor_cl['English_title'].str.startswith('No award given')]
ven_lor_cl['English_title'] = ven_lor_cl['English_title'].astype(str).apply(lambda x: x.rstrip('§'))
#convertir en date 
ven_lor_cl = conv_date(ven_lor_cl)
ven_lor_cl = ven_lor_cl.reset_index(drop=True)
ven_lor_cl

,Year,English_title,Original_title,Director,Production_country
0,1946-01-01,The Southerner,The Southerner,Jean Renoir,United States
1,1947-01-01,The Strike,Siréna,Karel Steklý,Czechoslovakia
2,1948-01-01,Hamlet,Hamlet,Laurence Olivier,United Kingdom
3,1949-01-01,Manon,Manon,Henri-Georges Clouzot,France
4,1950-01-01,Justice Is Done,Justice est faite,André Cayatte,France
...,...,...,...,...,...
65,2019-01-01,Joker,Joker,Todd Phillips,United States
66,2020-01-01,Nomadland,Nomadland,Chloé Zhao,United States
67,2021-01-01,Happening,L'Événement,Audrey Diwan,France
68,2022-01-01,All the Beauty and the Bloodshed,All the Beauty and the Bloodshed,Laura Poitras,United States
69,2023-01-01,Poor Things,Poor Things,Yorgos Lanthimos,"Ireland, United Kingdom, United States"

In [16]:
ven_larg_cl = ven_larg

#fusion des colonnes qui se sont retrouvées dispatchées à cause des noms des colonnes légérement différents 
#année 

ven_larg_cl['Yr'] = ven_larg_cl["('Year', '1990s')"].combine_first(ven_larg_cl['Year'])

#Nom 

ven_larg_cl['English_title'] = ven_larg_cl["('English Title', '1990s')"].combine_first(ven_larg_cl['English Title'])
ven_larg_cl['Original_title'] = ven_larg_cl["('Original Title', '1990s')"].combine_first(ven_larg_cl['Original Title'])

#réalisateur 
ven_larg_cl['Dir'] = ven_larg_cl["('Director(s)', '1990s')"].combine_first(ven_larg_cl['Director'])
ven_larg_cl['Dir'] = ven_larg_cl["Dir"].combine_first(ven_larg_cl['Director(s)'])
ven_larg_cl['Dir'] = ven_larg_cl["Dir"].combine_first(ven_larg_cl['Screenwriter'])
ven_larg_cl = ven_larg_cl.drop(["('Director(s)', '1990s')", 'Director','Director(s)', 'Screenwriter', "('Original Title', '1990s')", 'Original Title'
                               , 'Year', "('Year', '1990s')", "('English Title', '1990s')"], axis=1)
#sélection des colonnes 
ven_larg_cl = ven_larg_cl.iloc[::, 5:]

#renommer les colonnes qu'on vient de créer
ven_larg_cl.rename(columns={'Yr': 'Year', 'Dir':'Director'}, inplace=True)
ven_larg_cl = ven_larg_cl [~ven_larg_cl ['English_title'].isin(suppr)]
ven_larg_cl = ven_larg_cl.dropna(subset=['English_title'], how='all')

#conversion en type date 
ven_larg_cl = conv_date(ven_larg_cl)
ven_larg_cl = ven_larg_cl.sort_values(by='Year', ascending=True) #trier par date
ven_larg_cl = ven_larg_cl.reset_index(drop=True) #reset l'index du dataframe
ven_larg_cl

         Year         English_title        Original_title           Director
0  1953-01-01                Ugetsu                  雨月物語    Kenji Mizoguchi
1  1953-01-01                 Sadko                 Садко  Aleksandr Ptushko
2  1953-01-01        Thérèse Raquin        Thérèse Raquin       Marcel Carné
3  1953-01-01           I Vitelloni           I Vitelloni   Federico Fellini
4  1953-01-01          Moulin Rouge          Moulin Rouge        John Huston
..        ...                   ...                   ...                ...
61 2019-01-01     About Endlessness       Om det oändliga      Roy Andersson
62 2020-01-01         Wife of a Spy                 スパイの妻   Kiyoshi Kurosawa
63 2021-01-01  The Power of the Dog  The Power of the Dog       Jane Campion
64 2022-01-01         Bones and All         Bones and All    Luca Guadagnino
65 2023-01-01           Io Capitano           Io Capitano     Matteo Garrone

[66 rows x 4 columns]

In [17]:
ven_gj_cl = ven_gj 
#renommer les colonnes
ven_gj_cl = renom_cannes(ven_gj_cl)

#garder les colonnes d'intérêt
ven_gj_cl = ven_gj_cl.iloc[::, :5]

#supprimer les lignes indésirables
ven_gj_cl = ven_gj_cl [~ven_gj_cl ['English_title'].isin(suppr)]

#supprimer les lignes aux valeurs manquantes 
ven_gj_cl  = ven_gj_cl.dropna(subset=['English_title'], how='all')

#supprimer les indices dans certains noms de films et remplacer avec le nom tout seul
ven_gj_cl['English_title'] = ven_gj_cl['English_title'].str.split('[', n=1).str[0]
ven_gj_cl['Original_title'] = ven_gj_cl['Original_title'].str.split('[', n=1).str[0]

ven_gj_cl = conv_date(ven_gj_cl )
ven_gj_cl = ven_gj_cl.reset_index(drop=True) #reset l'index du dataframe
ven_gj_cl

,Year,English_title,Original_title,Director,Production_country
0,1951-01-01,A Streetcar Named Desire,A Streetcar Named Desire,Elia Kazan,United States
1,1952-01-01,The Curious Adventures of Mr. Wonderbird,La Bergère et le Ramoneur,Paul Grimault,France
2,1952-01-01,Mandy,Mandy,Alexander Mackendrick,United Kingdom
3,1954-01-01,Executive Suite *,Executive Suite *,Robert Wise,United States
4,1958-01-01,The Lovers,Les amants,Louis Malle,France
...,...,...,...,...,...
69,2019-01-01,An Officer and a Spy,J'accuse,Roman Polanski,"France, Italy"
70,2020-01-01,New Order,Nuevo Orden,Michel Franco,"Mexico, France"
71,2021-01-01,The Hand of God,È stata la mano di Dio,Paolo Sorrentino,Italy
72,2022-01-01,Saint Omer,Saint Omer,Alice Diop,France
73,2023-01-01,Evil Does Not Exist,悪は存在しない,Ryusuke Hamaguchi,Japan

## Etape 2 - la fusion des bases 
Nous avons fini la partie nettoyage de la base et passerons maintenant à la partie fusion des bases en une seule base awards. Petit rappel sur le cotenu de chaque petite base de données pour chaque catégorie et type de récompense : 

* ac_bc_cl est la base des nominés pour le academy award (mainstream) pour la best cinematography. Elle contient les colonnes suivantes:['Year', 'English_title', 'Cinematographer'] 
* ac_bd_cl est la base des nominés pour le academy award pour le best director(mainstream). Elle contient les colonnes suivantes: ['Year', 'Director', 'English_title']
* ac_bf_cl est la base des nominés pour le academy award pour le best film(mainstream). Elle contient les colonnes suivantes: ['Year', 'English_title', 'Film_Studio', 'Film_producers'] 
* ces_bd_cl  est la base des nominés pour le César award (mainstream) pour le best director. Elle contient les colonnes suivantes: ['Year', 'English_title', 'Original_title', 'Winners_and_nominees']
* ces_bf_cl est la base des nominés pour le César award pour le best film (mainstream). Elle contient les colonnes suivantes: 
['Year', 'English_title', 'Original_title', 'Director']
* can_gp_cl est le grand prix du festival des cannes (festival). Elle contient les colonnes suivantes: ['Year', 'English_title', 'Original_title', 'Director',
       'Production_country']
* can_jr_cl est le prix du jury du festival des cannes (festival). Elle contient les colonnes suivantes: ['Year', 'English_title', 'Original_title', 'Director',   'Production_country']
* can_po_cl est la palme d'or du festival des cannes (festival). Elle contient les colonnes suivantes: ['Year', 'English_title', 'Original_title', 'Director',
       'Production_country']

* ven_lor_cl est le lion d'or du festival de venise (festival). Elle contient les colonnes suivantes: ['Year', 'English_title', 'Original_title', 'Director',
       'Production_country']
* ven_larg_cl est le lion d'argent du festival de venise (festival). Elle contient les colonnes suivantes: ['Year', 'English_title', 'Original_title', 'Director'],
* ven_gj_cl est le grand prix du jury du festival de venise (festival). Elle contient les colonnes suivantes: ['Year', 'English_title', 'Original_title', 'Director',
       'Production_country']

**L'objectif de cette deuxième étape sera de créer une seule base à partir des tables nettoyées - et différencier deux types de compétitions - festivals et compétitions plus mainstream.**

* Nous voulons récupérer ue base de données unique à la fin qui aura la forme suivante: {English_title, Year, Dir_or_prod, Studio, Award_mains, Mains_cat, Award_fest, Fest_cat, Production_country } :
    * La colonne English_title sera le nom du film
    * La colonne Year est l'année de sortie
    * La colonne Dir_or_prod est le réalisateur ou le producteur du film, ou le cinematographe, par exemple Quentin Tarantino
    * La colonne Studio est le studio de production (si mentionné), sinon il prendra la valeur Nan 
    * La colonne Award_mains est la variable qui enregistre si le film a été nominé ou a gagné à la compétition plus "mainstream", plus commune telle que Academy Awards ou le prix César. La variable prendra la valeur 0 si le film n'a pas été nominé ni a gagné, 1 s'il a été nominé ou s'il a gagné.
    * Mains_cat enregistre la catégorie dans laquelle le film a été nominé/qu'il a remporté pour les récompenses mainstream, par exemple Academy - Best Cinematography 
    * De même que pour Award_mains, Award_fest enregistre si le film a été nominé ou a gagné dans la compétition d'un des grands festivals - Cannes et Venise, il prendra la valeur 1 si le film a été nominé ou a gagné et 0 sinon (donc tous les films nominés pour les awards mains devrait logiquement prendre valeur 0 si non nominés pour une des catégories de festivals) 
    * Fest_cat enregistre la catégorie dans laquelle le film a été nominé/qu'il a remporté pour les festivals - par exemple Cannes - Prix du Jury, ou Venis - Lion d'Or
    * Production_country enregistre le pays de production s'il est spécifié, et sinon la valeur doit être Nan

In [18]:
# Création de la base de données globale
awards_df = pd.DataFrame(columns=['English_title', 'Year', 'Dir_or_prod', 'Studio', 'Award_mains', 'Mains_cat', 'Award_fest', 'Fest_cat', 'Production_country'])

# Academy Award - Best Cinematography
ac_bc_cl['Mains_cat'] = 'Oscar - Best Cinematography'
awards_df = pd.concat([awards_df, ac_bc_cl[['English_title', 'Year', 'Cinematographer', 'Mains_cat']].rename(columns={'Cinematographer': 'Dir_or_prod'})], ignore_index=True)

# Academy Award - Best Director
ac_bd_cl['Mains_cat'] = 'Oscar - Best Director'
awards_df = pd.concat([awards_df, ac_bd_cl[['English_title', 'Year', 'Director', 'Mains_cat']]], ignore_index=True)

# Academy Award - Best Film
ac_bf_cl['Mains_cat'] = 'Oscar - Best Film'
awards_df = pd.concat([awards_df, ac_bf_cl[['English_title', 'Year', 'Film_producers', 'Film_Studio', 'Mains_cat']]], ignore_index=True)

# César Award - Best Director
ces_bd_cl['Mains_cat'] = 'César - Best Director'
awards_df = pd.concat([awards_df, ces_bd_cl[['English_title', 'Year', 'Director', 'Mains_cat']]], ignore_index=True)

# César Award - Best Film
ces_bf_cl['Mains_cat'] = 'César - Best Film'
awards_df = pd.concat([awards_df, ces_bf_cl[['English_title', 'Year', 'Director', 'Mains_cat']]], ignore_index=True)

# Cannes Festival - Palme d'Or
can_po_cl['Fest_cat'] = 'Cannes - Palme d\'Or'
awards_df = pd.concat([awards_df, can_po_cl[['English_title', 'Year', 'Director', 'Production_country', 'Fest_cat']]], ignore_index=True)

# Cannes Festival - Prix du Jury
can_jr_cl['Fest_cat'] = 'Cannes - Prix du Jury'
awards_df = pd.concat([awards_df, can_jr_cl[['English_title', 'Year', 'Director', 'Production_country']]], ignore_index=True)

# Cannes Festival - Grand Prix
can_gp_cl['Fest_cat'] = 'Cannes - Grand Prix'
awards_df = pd.concat([awards_df, can_gp_cl[['English_title', 'Year', 'Director', 'Production_country', 'Fest_cat']]], ignore_index=True)

# Festival de Venise - Lion d'Or
ven_lor_cl['Fest_cat'] = 'Venise - Lion d\'Or'
awards_df = pd.concat([awards_df, ven_lor_cl[['English_title', 'Year', 'Director', 'Production_country', 'Fest_cat']]], ignore_index=True)

# Festival de Venise - Lion d'Argent
ven_larg_cl['Fest_cat'] = 'Venise - Lion d\'Argent'
awards_df = pd.concat([awards_df, ven_larg_cl[['Year', 'English_title', 'Director','Fest_cat']]], ignore_index=True)

# Festival de Venise - Grand Prix du Jury
ven_gj_cl['Fest_cat'] = 'Venise - Grand Prix du Jury'
awards_df = pd.concat([awards_df, ven_gj_cl[['English_title', 'Year', 'Director', 'Production_country', 'Fest_cat']]], ignore_index=True)

# Fusion de Film_producers dans Dir_or_prod
awards_df['Dir_or_prod'].fillna(awards_df['Film_producers'], inplace=True)
awards_df.drop(columns=['Film_producers'], inplace=True)

# Création de la colonne Studio
awards_df['Studio'] = ac_bf_cl['Film_Studio']

awards_df['Dir_or_prod'] = np.where(awards_df['Dir_or_prod'].isna(), awards_df['Director'], awards_df['Dir_or_prod'])
awards_df['Studio'] = awards_df['Studio'].combine_first(awards_df['Film_Studio'])
# Ajout des colonnes Award_mains, Award_fest 
awards_df['Award_mains'] = 0
awards_df['Award_fest'] = 0


# Mise à jour des valeurs pour les catégories Mainstream
mainstream_categories = ['Oscar - Best Cinematography', 'Oscar - Best Director', 'Oscar - Best Film', 'César - Best Director', 'César - Best Film']
awards_df.loc[awards_df['Mains_cat'].isin(mainstream_categories), 'Award_mains'] = 1
awards_df.loc[awards_df['Mains_cat'].isin(mainstream_categories), 'Mains_cat'] = awards_df.loc[awards_df['Mains_cat'].isin(mainstream_categories), 'Mains_cat'] 



# Mise à jour des valeurs pour les catégories Festivals
festival_categories = ['Cannes - Palme d\'Or', 'Cannes - Prix du Jury', 'Cannes - Grand Prix', 'Venise - Lion d\'Or', 'Venise - Lion d\'Argent', 'Venise - Grand Prix du Jury']
awards_df.loc[awards_df['Fest_cat'].isin(festival_categories), 'Award_fest'] = 1
awards_df.loc[awards_df['Fest_cat'].isin(festival_categories), 'Fest_cat'] = awards_df.loc[awards_df['Fest_cat'].isin(festival_categories), 'Fest_cat'] 
awards_df = conv_date(awards_df)

#suppression des valeurs parasites dans la colonne English_title et Dir_or_prod
awards_df['English_title'] = awards_df['English_title'].str.split('[', n=1).str[0] 
awards_df['Dir_or_prod'] = awards_df['Dir_or_prod'].str.split('[', n=1).str[0] 
awards_df = awards_df[~awards_df['Dir_or_prod'].astype(str).str.startswith(('Color', 'Black-and'),na=False)]


#supprimer les NaT dans la colonne Year 

awards_df = awards_df.dropna(subset=['Year'])
#Groupby pour éviter les réptitions 

awards_df = awards_df.groupby('English_title').agg({
    'Year': 'first',  # Prendre la première année
    'Dir_or_prod': lambda x: ', '.join(x.dropna().astype(str)) if not x.dropna().empty else np.nan,  
    'Studio': 'first',  # Prendre le premier studio
    'Award_mains': 'max',  # Prendre la valeur maximale (1 si au moins une nomination ou victoire, 0 sinon)
    'Mains_cat': lambda x: ', '.join(x.dropna().astype(str)) if not x.dropna().empty else np.nan,  # Joindre les catégories mainstream avec une virgule
    'Award_fest': 'max',  # Prendre la valeur maximale (1 si au moins une nomination ou victoire, 0 sinon)
    'Fest_cat': lambda x: ', '.join(x.dropna().astype(str)) if not x.dropna().empty else np.nan,  # Joindre les catégories de festival avec une virgule
    'Production_country': 'first'  # Prendre le premier pays de production
}).reset_index()
awards_df = awards_df.sort_values(by='Year', ascending=True)
# Affichage des premières lignes de la base de données finale
awards_df

/tmp/ipykernel_87342/1661956222.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  awards_df = pd.concat([awards_df, ac_bc_cl[['English_title', 'Year', 'Cinematographer', 'Mains_cat']].rename(columns={'Cinematographer': 'Dir_or_prod'})], ignore_index=True)

,English_title,Year,Dir_or_prod,Studio,Award_mains,Mains_cat,Award_fest,Fest_cat,Production_country
1453,The Racket,1927-01-01,Howard Hughes,The Caddo Company,1,Oscar - Best Film,0,NaN,NaN
1610,Two Arabian Knights,1927-01-01,Lewis Milestone,None,1,Oscar - Best Director,0,NaN,NaN
1217,The Circus,1927-01-01,Charlie Chaplin,None,1,Oscar - Best Director,0,NaN,NaN
999,Sadie Thompson,1927-01-01,George Barnes,Metro-Goldwyn-Mayer,1,Oscar - Best Cinematography,0,NaN,NaN
1233,The Crowd,1927-01-01,King Vidor,None,1,Oscar - Best Director,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1418,The Night of the 12th,2023-01-01,"Dominik Moll, Dominik Moll",None,1,"César - Best Director, César - Best Film",0,NaN,None
407,Fallen Leaves,2023-01-01,Aki Kaurismäki,None,0,NaN,0,NaN,Finland
926,Poor Things,2023-01-01,Yorgos Lanthimos,None,0,NaN,1,Venise - Lion d'Or,"Ireland, United Kingdom, United States"
446,Forever Young,2023-01-01,Valeria Bruni Tedeschi,None,1,César - Best Film,0,NaN,None
1560,The Zone of Interest,2023-01-01,Jonathan Glazer,None,0,NaN,1,Cannes - Grand Prix,"United Kingdom, Poland"

In [19]:
current_directory = os.getcwd()

# Ajouter le nom du fichier 
file_name = 'awards.csv'
file_path = os.path.join(current_directory, file_name)
awards_df.to_csv(file_path, index=False) #exportons la base finale en CSV