# Nettoyage des données scrappées sur Wikipédia 

Dans cette partie, nous procédons au nettoyage des données que nous avons scrappé sur Wikipédia (vous pouvez vous réferer au dossier wiki_scrap et le fichier fonction_scrapping pour voir la première étape). 

En effet, nous avons récupéré en plusieurs fichiers csv les données brutes de pages de Wiki qui rescencent les nominations, catégories et les victoires dans les compétitions et festivals de cinéma tels que Oscar (Academy awards), César, Festival de Cannes et Festival de Venise. 

## Objectifs de la partie nettoyage 

* D'abord, nettoyer les bases une à une, renommer les colonnes, éviter les répitions et supprimer les lignes qui sont inutiles (comme nous avons scrappé tous les tableaux sur les pages étant donné que les tables ne suivent pas toujours le même schema)
* Créer une seule base à partir des tables nettoyées - et différencier deux types de compétitions - festivals et compétitions plus mainstream. 
Nous voulons récupérer ue base de données unique à la fin qui aura la forme suivante: {Name, Year, Dir_or_prod, Studio, Award_mains, Awards_mains_cat, Award_fest, Win} 
    * La colonne Name sera le nom du film
    * La colonne Year est l'année de sortie
    * La colonne Dir_or_prod est le réalisateur ou le producteur du film
    * La colonne Studio est le studio de production (si mentionné)
    * La colonne Award_mains est la variable qui enregistre si le film a été nominé ou a gagné à la compétition plus "mainstream", plus commune telle que Academy Awards ou le prix César. La variable prendra la valeur 0 si le film n'a pas été nominé ni a gagné, 1 s'il a été nominé et 2 s'il a gagné.
    * Award_mains_cat enregistre la catégorie dans laquelle le film a été nominé/qu'il a remporté
    * De même que pour Award_mains, Award_fest enregistre si le film a été nominé ou a gagné dans la compétition d'un des grands festivals - Cannes et Venise.

- [ ] ac_bf - séparer film studio et producteur (galère) 
- [ ] ac_bd - à revoir car studio mentionné en mm temps que le réalisateur
- [ ] ac_bc OK
- [ ] can_gp OK
- [ ] can_jr OK
- [ ] can_po OK
- [ ] ces_bd
- [ ] ces_bf
- [ ] ven_lor
- [ ] ven_larg
- [ ] ven_gj

In [37]:
import pandas as pd
import re

In [2]:
base = pd.read_csv('../API/MoviesPopular.csv')
print(base.columns)

Index(['Unnamed: 0', 'adult', 'backdrop_path', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [3]:
#Chargement des bases scrappées sur wikipédia pour nettoyage et fusion avec la base de données récupérée sur TMDB

#Academy award for best cinematography 
ac_bc = pd.read_csv('../wiki_scrap/academy_bc.csv')
# academy award for best film 
ac_bf = pd.read_csv('../wiki_scrap/academy_bf.csv')
#Academy award for best director 
ac_bd = pd.read_csv('../wiki_scrap/academy_bd.csv')
#Cannes Grand Prix
can_gp = pd.read_csv('../wiki_scrap/cannes_gp.csv')
#Cannes Jury prize
can_jr = pd.read_csv('../wiki_scrap/cannes_jury.csv')
#Cannes Palme d'or
can_po = pd.read_csv('../wiki_scrap/palme_or.csv')
#César Best director 
ces_bd = pd.read_csv('../wiki_scrap/cesar_bd.csv')
#Cesar Best Film 
ces_bf = pd.read_csv('../wiki_scrap/cesar_bf.csv')
#Venice Lion d'or
ven_lor = pd.read_csv('../wiki_scrap/lion_or.csv')
#Venice Lion d'argent 
ven_larg = pd.read_csv('../wiki_scrap/lion_argent.csv')
#Venice Grand Jury Prix
ven_gj = pd.read_csv('../wiki_scrap/venice_gj.csv')

In [4]:
#Pour vérifier si le chargement est bien réussi 

print(ac_bc.columns)
print(ac_bd.columns) 
print(ac_bf.columns) 

print(ces_bd.columns) 
print(ces_bf.columns) 

print(can_gp.columns)
print(can_jr.columns) 
print(can_po.columns)

print(ven_lor.columns) 
print(ven_larg.columns) 
print(ven_gj.columns)

Index(['Category', 'Name', 'Superlative', 'Year', 'Notes', 'Film', 'Nominees',
       'Awards', 'Nominations', 'Recipient'],
      dtype='object')
Index(['0', 'Year', 'Director(s)', 'Film', 'Ref.', 'Wins', 'Director',
       'Nominations', 'Record', 'Age'],
      dtype='object')
Index(['Year of Film Release', 'Film', 'Film Studio',
       'Film Studio/Producer(s)', 'Producer(s)', 'Production Company',
       'Nominations', 'Wins'],
      dtype='object')
Index(['Superlative', 'Men', 'Men.1', 'Women', 'Women.1', 'Year',
       'Winner and nominees', 'English title', 'Original title',
       'Winners and nominees', 'Wins', 'Director', 'Nominations'],
      dtype='object')
Index(['Year', 'English title', 'Original title', 'Director'], dtype='object')
Index(['('Year', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('English Title', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('Original Title', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('Director(s)', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       '('Production Country', '1960s', 'Awarded as "Grand Prix Spécial du Jury"')',
       'Number of Wins', 'Directors', 'Nationality', 'Films', 'Ref(s)'],
      dtype='object')
Index(['('Year', '1940s', 'Awarded as "International Jury Prize"')',
       '('English Title', '1940s', 'Awarded as "International Jury Prize"')',
       '('Original Title', '1940s', 'Awarded as "International Jury Prize"')',
       '('Recipient', '1940s', 'Awarded as "International Jury Prize"')',
       '('Production Country', '1940s', 'Awarded as "International Jury Prize"')',
       'Number of Wins', 'Directors', 'Nationality', 'Films'],
      dtype='object')
Index(['Year', 'English Title', 'Original title', 'Director(s)',
       'Production Country', 'Ref.', 'Original Title', 'Director', 'Ref(s)',
       'Recipient', 'Profession', 'Nationality of Recipient'],
      dtype='object')
Index(['('Year', '1940s')', '('English Title', '1940s')',
       '('Original Title', '1940s')', '('Director(s)', '1940s')',
       '('Production Country', '1940s')', 'Year', 'Winner(s)'],
      dtype='object')
Index(['('Year', '1990s')', '('Director(s)', '1990s')',
       '('English Title', '1990s')', '('Original Title', '1990s')',
       'Number of Wins', 'Director', 'Nationality', 'Films', 'Year',
       'English Title', 'Original Title', 'Director(s)', 'Production Country',
       'Screenwriter'],
      dtype='object')
Index(['('Year', '1950s', 'Awarded as "Special Jury Prize"')',
       '('English Title', '1950s', 'Awarded as "Special Jury Prize"')',
       '('Original Title', '1950s', 'Awarded as "Special Jury Prize"')',
       '('Director(s)', '1950s', 'Awarded as "Special Jury Prize"')',
       '('Production Country', '1950s', 'Awarded as "Special Jury Prize"')',
       'Number of Wins', 'Directors', 'Nationality'],
      dtype='object')

In [108]:
#Création de la fonction qui convertit la colonne Year en format date 

def conv_date(df): 
    df['Year'] = df['Year'].astype(str)
    df['Year'] = df['Year'].str.extract('(\d{4})', expand=False)
    df['Year'] = pd.to_datetime(df['Year'], format='%Y', errors='coerce')
    return df

In [109]:
#Nettoyage et mise en conformité de la base de données Academy 

#Best-cinematography 

#Supprimer les 3 premières et 3 dernières colonnes et 13 premières lignes qui référent à un tableau qui ne nous intéresse pas dans notre code
ac_bc_cl = ac_bc.drop(['Category', 'Name', 'Superlative', 'Notes', 'Awards', 'Nominations', 'Recipient'], axis=1)
ac_bc_cl = ac_bc_cl.iloc[13:, :]
#conversion en type date de la colonne 'Year'

ac_bc_cl = conv_date(ac_bc_cl)
ac_bc_cl = ac_bc_cl.dropna(subset=['Film', 'Nominees'], how='all')
ac_bc_cl

,Year,Film,Nominees
13,1927-01-01,Sunrise: A Song of Two Humans,Charles Rosher Karl Struss
14,1927-01-01,The Devil Dancer,George Barnes
15,1927-01-01,The Magic Flame,George Barnes
16,1927-01-01,Sadie Thompson,George Barnes
18,1928-01-01,White Shadows in the South Seas,Clyde De Vinna
...,...,...,...
782,2022-01-01,All Quiet on the Western Front,James Friend
783,2022-01-01,"Bardo, False Chronicle of a Handful of Truths",Darius Khondji
784,2022-01-01,Elvis,Mandy Walker
785,2022-01-01,Empire of Light,Roger Deakins
786,2022-01-01,Tár,Florian Hoffmeister

In [103]:
ac_bd_cl = ac_bd.drop (['0', 'Ref.', 'Wins', 'Director', 'Nominations', 'Record', 'Age' ], axis=1)
ac_bd_cl = ac_bd_cl.iloc[:473, :]
#conversion de l'année en type date 
ac_bd_cl = conv_date(ac_bd_cl)
#renommer la colonne director
ac_bd_cl.rename(columns={'Director(s)': 'Directors'}, inplace=True)
#suppression des lignes inutiles (celles qui ne contiennent que l'année sans film
ac_bd_cl = ac_bd_cl.dropna(subset=['Directors', 'Film'], how='all')

ac_bd_cl

,Year,Directors,Film
1,1927-01-01,Frank Borzage (Dramatic Picture),7th Heaven
2,1927-01-01,Herbert Brenon (Dramatic Picture),Sorrell and Son
3,1927-01-01,King Vidor (Dramatic Picture),The Crowd
4,1927-01-01,Lewis Milestone (Comedy Picture),Two Arabian Knights
5,1927-01-01,Ted Wilde (Comedy Picture),Speedy
...,...,...,...
468,2022-01-01,Daniel Kwan and Daniel Scheinert,Everything Everywhere All at Once
469,2022-01-01,Todd Field,Tár
470,2022-01-01,Martin McDonagh,The Banshees of Inisherin
471,2022-01-01,Ruben Östlund,Triangle of Sadness
472,2022-01-01,Steven Spielberg,The Fabelmans

In [110]:
#Academy - Best Film
ac_bf_cl=ac_bf

def extract_studio_producer(entry):
    if pd.notna(entry):
        match = re.match(r'(.+?)\s*\((.+)\)', str(entry))
        if match:
            return match.group(1).strip(), match.group(2).strip()
        else:
            return entry.strip(), None
    else:
        return entry, None

# Apply the function to create a new column 'Studio_Producers'
ac_bf_cl['Studio_Producers'] = ac_bf_cl['Film Studio/Producer(s)'].apply(extract_studio_producer)

# Extract only studio names from 'Film Studio'
ac_bf_cl['Film Studio'] = ac_bf_cl['Studio_Producers'].apply(lambda x: x[0] if x and pd.notna(x[0]) else None)

# Extract only producer names from 'Film Studio/Producer(s)'
ac_bf_cl['Producer(s)'] = ac_bf_cl['Studio_Producers'].apply(lambda x: x[1] if x and pd.notna(x[1]) else None)

# Drop the intermediate 'Studio_Producers' column
ac_bf_cl = ac_bf_cl.drop(columns=['Studio_Producers'])


ac_bf_cl.rename(columns={'Year of Film Release': 'Year'}, inplace=True)

ac_bf_cl = conv_date(ac_bf_cl)

ac_bf_cl = ac_bf_cl.dropna(subset=['Film'], how='all')


ac_bf_cl

,Year,Film,Film Studio,Film Studio/Producer(s),Producer(s),Production Company,Nominations,Wins,StudioName,Producer,Studio
1,1927-01-01,Wings,None,NaN,None,NaN,NaN,NaN,NaN,NaN,Famous Players–Lasky
2,1927-01-01,7th Heaven,None,NaN,None,NaN,NaN,NaN,NaN,NaN,Fox
3,1927-01-01,The Racket,None,NaN,None,NaN,NaN,NaN,NaN,NaN,The Caddo Company
5,1928-01-01,The Broadway Melody,None,NaN,None,NaN,NaN,NaN,NaN,NaN,Metro-Goldwyn-Mayer
6,1928-01-01,Alibi,None,NaN,None,NaN,NaN,NaN,NaN,NaN,Feature Productions
...,...,...,...,...,...,...,...,...,...,...,...
681,2022-01-01,The Fabelmans,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
682,2022-01-01,Tár,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
683,2022-01-01,Top Gun: Maverick,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
684,2022-01-01,Triangle of Sadness,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
685,2022-01-01,Women Talking,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
#création d'une fonction qui permet de renommer les colonnes en une seule commande
#étant donné que les tableaux des 3 pages sur les prix à Canne susivent la même structure
def renom_cannes(df) : 
    h = df.columns
    #renommer les colonnes qui ont été mal scrappées
    df.rename(columns={h[0]: 'Year', h[1] : 'English_title' , h[2]:'Original_title', h[3]:'Director', h[4]:'Production_country' }, inplace=True)
    return df

In [115]:
#Grand Prix - Cannes

can_gp_cl = can_gp
can_gp_cl = renom_cannes(can_gp_cl)
can_gp_cl = conv_date(can_gp_cl)
#suppression lignes non voulues avec la décennie comme valeur dans chaque colonne (scrapping du tableau difficile)
decades_to_delete = [f"{decade}s" for decade in range(1960, 2030, 10)]
can_gp_cl = can_gp_cl.loc[~can_gp_cl['English_title'].isin(decades_to_delete)]
can_gp_cl = can_gp_cl.reset_index(drop=True)

In [116]:

can_gp_cl= can_gp_cl.iloc[:65, :5]

can_gp_cl

,Year,English_title,Original_title,Director,Production_country
0,1967-01-01,Accident,Accident,Joseph Losey,United Kingdom
1,1967-01-01,I Even Met Happy Gypsies,Skupljači perja,Aleksandar Petrović,Yugoslavia
2,1969-01-01,Ådalen 31,Ådalen 31,Bo Widerberg,Sweden
3,1970-01-01,Investigation of a Citizen Above Suspicion,Indagine su un cittadino al di sopra di ogni s...,Elio Petri,Italy
4,1971-01-01,Johnny Got His Gun,Johnny Got His Gun,Dalton Trumbo,United States
...,...,...,...,...,...
60,2019-01-01,Atlantics,Atlantique,Mati Diop,"France, Senegal, Belgium"
61,2021-01-01,Compartment No. 6,Hytti nro 6,Juho Kuosmanen,"Finland, Germany, Estonia, Russia"
62,2021-01-01,A Hero,قهرمان,Asghar Farhadi,"Iran, France"
63,2022-01-01,Close,Close,Lukas Dhont,"Belgium, Netherlands, France"
64,2022-01-01,Stars at Noon,Stars at Noon,Claire Denis,France

In [138]:
#Prix du Jury - Cannes

can_jr_cl = can_jr
can_jr_cl = renom_cannes(can_jr_cl)

#suppression lignes non voulues (scrapping du tableau difficile)
decades_to_delete = ["1950s"] + decades_to_delete
can_jr_cl = can_jr_cl.loc[~can_jr_cl['English_title'].isin(decades_to_delete)]
delete = ['Awarded as "Special Jury Prize"', 'Awarded as "Jury Prize"']
can_jr_cl = can_jr_cl [~can_jr_cl ['Year'].isin(delete)]

#conversion de la date et sélection des colonnes d'intérêt 
can_jr_cl = conv_date(can_jr_cl)
can_jr_cl= can_jr_cl.iloc[:81, :5]
can_jr_cl = can_jr_cl.reset_index(drop=True)

can_jr_cl

,Year,English_title,Original_title,Director,Production_country
0,1946-01-01,The Battle of the Rails,La Bataille du rail,René Clément,France
1,1951-01-01,All About Eve,All About Eve,Joseph L. Mankiewicz,United States
2,1952-01-01,We Are All Murderers,Nous sommes tous des assassins,André Cayatte,France
3,1954-01-01,Knave of Hearts,Monsieur Ripois,René Clément,France
4,1955-01-01,Lost Continent,Continente perduto,"Enrico Gras, Giorgio Moser & Leonardo Bonzi",Italy
...,...,...,...,...,...
76,2021-01-01,Ahed's Knee,הַבֶּרֶךְ,Nadav Lapid,"France, Germany, Israel"
77,2021-01-01,Memoria,Memoria,Apichatpong Weerasethakul,"Colombia, Thailand, United Kingdom, Mexico, Fr..."
78,2022-01-01,The Eight Mountains,Le otto montagne,Felix van Groeningen & Charlotte Vandermeersch,"Italy, Belgium, France"
79,2022-01-01,EO,EO,Jerzy Skolimowski,"Poland, Italy"
80,2023-01-01,Fallen Leaves,Kuolleet lehdet,Aki Kaurismäki,Finland

In [137]:
#Palme d'Or

can_po_cl = can_po 
can_po_cl = renom_cannes(can_po_cl) 
#gérer à la fois les guillemets et les apostrophes
c = 'Awarded as' + ' "Palme d' +"'" +'Or"'
supp=['Awarded as "Grand Prix"', c, 'Awarded as "Grand Prix du Festival International du Film"', 'Festival cancelled due to the COVID-19 pandemic. 56 films were announced as official selections by the festival, but no awards were presented.' ]
can_po_cl = can_po_cl [~can_po_cl ['Year'].isin(supp)]
#sélection des colonnes d'intérêt 
can_po_cl= can_po_cl.iloc[1:, :5]
can_po_cl = can_po_cl.dropna(subset=['Original_title', 'Director'], how='all')
# suppression du symbole § présent dans les cetaines entrées sur wiki 
can_po_cl['English_title'] = can_po_cl['English_title'].astype(str).apply(lambda x: x.rstrip('§'))
can_po_cl['Original_title'] = can_po_cl['Original_title'].astype(str).apply(lambda x: x.rstrip('§'))
#can_po_cl = can_po_cl[pd.notna(can_po_cl['English_title']) & ~can_po_cl['English_title'].str.endswith('§')]
can_po_cl = can_po_cl.reset_index(drop=True)


can_po_cl

,Year,English_title,Original_title,Director,Production_country
0,1946,Brief Encounter,Brief Encounter,David Lean,United Kingdom
1,1946,The Last Chance,Die Letzte Chance,Leopold Lindtberg,Switzerland
2,1946,The Lost Weekend,The Lost Weekend,Billy Wilder,United States
3,1946,María Candelaria,María Candelaria,Emilio Fernández,Mexico
4,1946,Men Without Wings,Muži bez křídel,František Čáp,Czechoslovakia
...,...,...,...,...,...
98,2019,Parasite,기생충,Bong Joon-ho,South Korea
99,2020,Festival cancelled due to the COVID-19 pandemi...,Festival cancelled due to the COVID-19 pandemi...,Festival cancelled due to the COVID-19 pandemi...,Festival cancelled due to the COVID-19 pandemi...
100,2021,Titane,Titane,Julia Ducournau,"France, Belgium"
101,2022,Triangle of Sadness,Triangle of Sadness,Ruben Östlund,Sweden
102,2023,Anatomy of a Fall,Anatomie d'une chute,Justine Triet,France

In [149]:
#César - Meilleur Réalisateur 

ces_bd_cl = ces_bd 
ces_bd_cl = ces_bd_cl.iloc[8:, 5:10]
ces_bd_cl = conv_date(ces_bd_cl)

#Combiner les deux colonnes avec les mêmes valeurs en une seule 
#certaines lignes de la première contiennent NAN où la deuxième a des valeurs

ces_bd_cl['Winners_and_nominees'] = ces_bd_cl['Winner and nominees'].combine_first(ces_bd_cl['Winners and nominees'])

# Supprimer les colonnes originales 
ces_bd_cl = ces_bd_cl.drop(['Winner and nominees', 'Winners and nominees'], axis=1)
col=ces_bd_cl.columns
ces_bd_cl.rename(columns={ col[1] : 'English_title' , col[2]:'Original_title' }, inplace=True)
ces_bd_cl = ces_bd_cl.dropna(subset=['Original_title', 'Winners_and_nominees'], how='all')
# Réinitialiser l'index
ces_bd_cl = ces_bd_cl.reset_index(drop=True)
ces_bd_cl

,Year,English_title,Original_title,Winners_and_nominees
0,1976-01-01,The Old Gun,Le Vieux Fusil,Robert Enrico
1,1976-01-01,Call me Savage,Le Sauvage,Jean-Paul Rappeneau
2,1976-01-01,The Story of Adele H.,L'Histoire d'Adèle H.,François Truffaut
3,1977-01-01,Mr. Klein,Monsieur Klein,Joseph Losey
4,1977-01-01,The Best Way to Walk,La Meilleure Façon de marcher,Claude Miller
...,...,...,...,...
248,2023-01-01,The Night of the 12th,La Nuit du 12,Dominik Moll
249,2023-01-01,Rise,En corps,Cedric Klapisch
250,2023-01-01,The Innocent,L'Innocent,Louis Garrel
251,2023-01-01,November,Novembre,Cédric Jimenez
252,2023-01-01,Pacifiction,Pacifiction : Tourment sur les Îles,Albert Serra